section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.field {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#img1 {
    width: 40vw;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
    height: 50vh;
}

.caption {
    color: #20BAE4;
    font-family: "Anton SC", sans-serif;
    font-size: 48px;
    letter-spacing: 1px;
}

.text {
    font-family: "Poppins", sans-serif;
    font-size: 33px;
    margin: 20px 0 0 0;
}

.container-with-triangle {
    width: 55vw;
    height: 110vh;
    background-color: black;
    clip-path: polygon(0 0, 0 0, 100% 50%, 0 100%);
    margin-top: 100px;
}

#img2 {
    position: relative;
    top: -80vh;
    left: 13vw;
    width: 40vw;
}

.content-avatar {
    height: 150vh;
}

.information-avatar {
    width: 35vw;
    height: 50vh;
    margin: 0 7vw 0 0;
}

.field-avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.field-modules {
    display: flex;
    justify-content: space-around;
}

.information-modules {
    width: 40vw;
}

.field-invitaion {
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin: 200px 0 0 0;
    height: 90vh;
}

.information-invitation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 100px 0 0;
    width: 32vw;
}

.text-invitation {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 33px;
    margin: 20px 0 0 0;
}

.img-cybro {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
}

#img-cybro-gray {
    position: absolute;
    width: 50vw;
}

#img-symbols {
    width: 58vw;
    margin: 0 0 39vh 0;
}

#line {
    position: relative;
    background: linear-gradient(to left, rgba(190, 177, 248, 1), rgba(0, 217, 255, 1));
    height: 5px;
}

.hexagon3 {
    width: 3vw;
    height: 7vh;
    background: rgba(121, 0, 201, 1);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 100vh;
    left: 2vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon4 {
    width: 2vw;
    height: 5vh;
    background: rgba(121, 0, 201, 1);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 95vh;
    left: 10vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon5 {
    width: 2.5vw;
    height: 6.5vh;
    background: #09E6FF;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 105vh;
    left: 7vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon6 {
    width: 3vw;
    height: 7vh;
    background: linear-gradient(to top,
            #FF9500,
            #C900BC);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 60vh;
    left: 13vw;
    z-index: 15;
    transform: rotate(90deg);
}

.subtitle-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0 0 0;
}

.avatar-caption {
    font-family: "Anton SC", sans-serif;
    font-size: 36px;
    letter-spacing: 2px;
}

.line-avatar {
    background: linear-gradient(to left, rgba(176, 172, 205, 1), rgba(0, 111, 255, 1));
    border-radius: 30px;
    width: 300px;
    height: 15px;
}

@media (max-width: 1537px) {
    .caption {
        font-size: 38px;
    }

    .text {
        font-size: 24px;
    }

    .text-invitation {
        font-size: 24px;
    }

    #img-symbols {
        top: 294vh;
    }
}

@media (max-width: 1366px) {
    .field-avatar {
        height: 140vh;
    }

    #img-symbols {
        width: 58vw;
        margin: 0 0 34vh 0;
    }
}

@media (max-width: 1098px) {
    .caption {
        font-size: 35px;
    }

    .text {
        font-size: 22px;
    }

    .shared-button {
        font-size: 20px;
    }
}

@media (max-width: 920px) {
    .caption {
        font-size: 20px;
    }

    .text {
        font-size: 15px;
    }

    #img1 {
        width: 30vw;
    }

    .field-avatar {
        height: 120vh;
    }

    .hexagon3 {
        height: 6vh;
        top: 90vh;
    }

    .hexagon4 {
        height: 4vh;
        top: 90vh;
    }

    .hexagon5 {
        height: 4.5vh;
        top: 100vh;
    }

    .hexagon6 {
        height: 6vh;
        top: 50vh;
    }
}

@media (max-width: 850px) {
    .hexagon6 {
        top: 45vh;
    }
}

@media (max-width: 768px) {
    .caption {
        font-size: 25px;
    }

    .information {
        width: 80%;
    }

    .text {
        font-size: 18px;
    }

    .field {
        flex-direction: column;
    }

    #img1 {
        width: 42vw;
    }

    .field-avatar {
        flex-direction: column-reverse;
        height: 200vh;
    }

    .information-avatar {
        margin: 0;
        width: 80%;
    }

    .content-avatar {
        margin: 0 350px 0 0;
    }

    .container-with-triangle {
        width: 55vw;
        height: 110vh;
        background-color: black;
        clip-path: polygon(0 0, 0 0, 100% 50%, 0 100%);
        margin-top: 0;
    }

    #img2 {
        width: 42vw;
    }
}

@media (max-width: 430px) {
    .information {
        width: 90%;
        height: 55vh;
    }

    .text {
        font-size: 18px;
    }

    .field {
        flex-direction: column;
    }

    #img1 {
        width: 44vw;
    }
}