header {
    display: flex;
    background: black;
    width: 150vw;
    height: 150vh;
    position: absolute;
    border-radius: 50% / 100%;
    left: -7vw;
    top: -80vh;
    transform: skewY(-15deg);
    z-index: 1;
}

#imgCircle {
    position: absolute;
    top: 91vh;
    left: 84vw;
    width: 430px;
    transform: skewY(15deg)
}

