.header-wrapper {
    position: relative;
    height: 90vh;
}


header {
    display: flex;
    background: black;
    width: 150vw;
    height: 150vh;
    position: relative;
    border-radius: 50% / 100%;
    left: -7vw;
    top: -95vh;
    transform: skewY(-15deg);
    z-index: 5;
}

#imgCircle {
    position: absolute;
    top: 91vh;
    left: 84vw;
    width: 23vw;
    transform: skewY(15deg)
}

#background {
    width: 150vw;
    height: 156vh;
    background: #0CB9D8;
    position: absolute;
    border-radius: 50% / 100%;
    left: -7vw;
    top: -84vh;
    transform: skewY(-17deg);
    z-index: 4;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 95vh;
    left: 17vw;
    transform: skewY(15deg);
    font-family: "Anton SC", sans-serif;
    z-index: 10;
    height: 40vh;
}

h1 {
    width: 52vw;
    font-size: 68px;
    color: white;
    letter-spacing: 3px;
    margin: 0 0 0 50px;
}

.space .information {
    justify-content: space-evenly;
}

.line {
    background: linear-gradient(to right,
            #FF00FB,
            #FFA109);
    border-radius: 30px;
    width: 272px;
    height: 20px;
}

.hexagon1 {
    width: 3vw;
    height: 7vh;
    background: #04F7FF;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 18vh;
    left: 12vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon2 {
    width: 2vw;
    height: 5vh;
    background: rgba(121, 0, 201, 0.6);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 30vh;
    left: 5vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon3 {
    width: 3vw;
    height: 7vh;
    background: rgba(121, 0, 201, 1);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 76vh;
    left: 5vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon4 {
    width: 2vw;
    height: 5vh;
    background: rgba(121, 0, 201, 1);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 83vh;
    left: 10vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon5 {
    width: 2.5vw;
    height: 6.5vh;
    background: #09E6FF;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 75vh;
    left: 10vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon6 {
    width: 3vw;
    height: 7vh;
    background: linear-gradient(to top,
            #FF9500,
            #C900BC);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 20vh;
    left: 60vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon7 {
    width: 3vw;
    height: 7vh;
    background: #09E6FF;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 50vh;
    left: 70vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon8 {
    width: 3vw;
    height: 7vh;
    background: #7900C9;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 60vh;
    left: 65vw;
    z-index: 15;
    transform: rotate(90deg);
}

.avatar {
    width: 310px;
}

.user-header {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 65vw;
    left: -3vw;
}

.user-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    color: white;
}

.nickname {
    font-size: 55px;
    font-family: "Anton SC", sans-serif;
}

#line {
    height: 10px;
    margin: 0 0 0 150px;
}

#imgCirclee {
    position: absolute;
    width: 550px;
    margin-top: -15.50vh;
    margin-left: -38.20vw;
    z-index: -1;
    opacity: 0.9;
}

.field {
    display: flex;
    justify-content: space-around;
}

.button-edit {
    width: 150px;
    height: 40px;
    margin: 100px 0 0 150px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(4, 201, 255, 1);
    border-radius: 15px;
    border: none;
}

.space {
    display: flex;
    align-items: center;
}

.img {
    width: 30px;
    margin: 0 30px 0 0;
}

.move-hex-home.hexagon2 {
        left: 89vw;
        top: 27vh;
    }

.move-hex-home.hexagon6 {
    left: 92vw;
}

.move-hex-home.hexagon7 {
    left: 87vw;
}

@media (max-width: 1537px) {
    h1 {
        font-size: 54px;
    }

    .space h1 {
        margin: 0 0 0 150px;
    }
}

@media (max-width: 1497px) {
    header {
        height: 1050px;
    }

    .user-header {
        position: relative;
        top: -20px;
    }

    #imgCirclee {
        width: 530px;
    }

    #background {
        top: -546px;
    }

    #imgCircle {
        top: 88vh;
    }

}

@media (max-width: 1366px) {

    header {
        top: -92vh;
        height: 950px;
    }

    #background {
        top: -77vh;
    }

    h1 {
        font-size: 43px;
    }

    .information {
        height: 38vh;
    }

    .line {
        height: 15px;
        width: 230px;
    }

    #imgCircle {
        top: 85vh;
        left: 84vw;
    }

    .hexagon1 {
        top: 25vh;
        left: 10vw;
    }

    .hexagon3 {
        top: 85vh;
        left: 6vw;
    }

    .hexagon4 {
        top: 91vh;
    }

    .hexagon5 {
        top: 82vh;
    }

    .hexagon6 {
        top: 30vh;
        left: 67vw;
    }

    .hexagon7 {
        top: 55vh;
    }

    #imgCirclee {
        width: 470px;
    }

    .avatar {
        width: 255px;
    }

    #imgCirclee {
        margin-top: -17vh;
        margin-left: -39.20vw;
    }

    .button-edit {
        margin: 100px 0 0 120px;
    }

    .move-hex-home.hexagon6 {
        top: 20vh;
    }
}

@media (max-width: 1279px) {


    .hexagon3 {
        top: 82vh;
    }

    .hexagon4 {
        top: 88vh;
        left: 150px;
    }

    .hexagon5 {
        top: 78vh;
    }

    .nickname {
        font-size: 50px;
    }

    #line {
        margin: 0 0 0 120px
    }

    #imgCirclee {
        margin-left: -36vw;
    }

    .user-header {
        width: 845px;
    }

    .field {
        justify-content: space-evenly;
    }

    .button-edit {
        margin: 100px 0 0 140px;
    }

}

@media (max-width: 1233px) {
      #imgCirclee {
        margin-left: -37.40vw;
    }
}

@media (max-width: 1196px) {
      #imgCirclee {
        margin-left: -38.40vw;
    }
}

@media (max-width: 1153px) {

      #imgCirclee {
        margin-left: -40vw;
    }

    .user-header {
        top: -1vh;
        left: -7vw;
    }
}

@media (max-width: 1100px) {

      #imgCirclee {
        margin-left: -41.60vw;
    }
}

@media (max-width: 1026px) {

      #imgCirclee {
        width: 440px;
        margin-left: -45vw;
        top: 1vh;
    }

    .avatar{
        position: relative;
        width: 240px;
    }

    .user-header {
        top: 1vh;
    }

    .button-edit{
        margin: 90px 0 0 140px;
    }
}

@media (max-width: 986px) {
    #imgCirclee {
        margin-left: -47vw;
    }
}

@media (max-width: 941px) {

      #imgCirclee {
        width: 410px;
        margin-left: -49vw;
        top: 4vh;
    }

    .avatar{
        position: relative;
        width: 240px;
    }

    .user-header {
        top: 1vh;
        left: -10vw;
    }

    .button-edit{
        margin: 90px 0 0 140px;
    }
}

@media (max-width: 920px) {

    header {
        height: 900px;
    }

    h1 {
        font-size: 35px;
    }

    #background {
        top: -545px;
    }

    .information {
        height: 210px;
    }

    .line {
        height: 12px;
    }

    .hexagon1 {
        width: 30px;
        height: 40px;
        top: 135px;
    }

    .hexagon2 {
        height: 25px;
    }

    .hexagon3 {
        height: 35px;
        top: 455px;
        left: 80px;
    }

    .hexagon4 {
        height: 29px;
        top: 470px;
    }

    .hexagon5 {
        height: 35px;
        top: 420px;
        left: 120px;
    }

    .hexagon6 {
        top: 150px;
        width: 35px;
        height: 40px;
    }

    .hexagon7 {
        height: 35px;
    }

    .hexagon8 {
        height: 35px;
    }

    #imgCircle {
        top: 510px;
        left: 75vw;
        width: 300px;
    }

    .nickname {
        font-size: 45px;
    }

    #line {
        margin: 0 0 0 80px;
        width: 180px;
    }

    .name {
        font-size: 20px;
    }

    .email {
        font-size: 20px;
    }

    .date {
        font-size: 20px;
    }

    #imgCirclee {
        width: 380px;
        margin-top: -13vh;
        margin-left: -47.10vw;
    }

    .user-header {
        width: 750px;
        left: -50px;
        top: -3vh;
    }

    .field {
        justify-content: space-around;
    }

    .button-edit {
        margin: 90px 0 0 110px;
        width: 130px;
    }

    .avatar {
        position: relative;
        top: 25px;
        width: 215px
    }

    .move-hex-home.hexagon6 {
        left: 92vw;
    }

    .move-hex-home.hexagon7 {
        top: 50vh;
    }
}

@media (max-width: 842px) {
    #imgCirclee {
        margin-left: -51vw;
    }

    .move-hex-home.hexagon7 {
        left: 93vw;
    }

}

@media (max-width: 795px) {
    #imgCirclee {
        width: 340px;
        margin-left: -47vw;
        top: 6vh;
    }

    .avatar{
        width: 200px;
    }

    .nickname{
        font-size: 40px;
    }

    .name,.email, .date{
        font-size: 18px;
    }

    .img{
        width: 27px;
        margin: 0 20px 0 0;
    }

    #line{
        width: 160px;
        margin: 0 0 0 60px;
    }

    .field{
        justify-content: space-evenly;
    }

    .user-header{
        left: -10vw;
    }

    .button-edit{
        margin: 90px 0 0 130px;
    }
}

@media (max-width: 768px) {

    header {
        height: 850px;
    }

    #background {
        top: -594px;
        left: -9vw;
    }

    h1 {
        font-size: 30px
    }

    .information {
        height: 170px;
    }

    .line {
        height: 10px;
    }

    #imgCircle {
        top: 510px;
        left: 75vw;
        width: 260px;
    }

    .hexagon3 {
        height: 30px;
        top: 390px;
        left: 80px;
    }

    .hexagon4 {
        height: 20px;
        top: 420px;
    }

    .hexagon5 {
        height: 30px;
        top: 370px;
    }

    .hexagon6 {
        width: 25px;
        height: 35px;
    }

    .hexagon8 {
        height: 30px;
        top: 340px;
    }

    .nickname{
        font-size: 37px;
    }

    #line{
        height: 7px;
        width: 140px;
    }

    .name, .email, .date{
        font-size: 16px;
    }

    .img{
        width: 24px;
    }

    .avatar{
        width: 180px;
    }

    #imgCirclee{
        width: 310px;
        top: 7vh;
    }

    .user-header{
        left: -12vw;
         width: 700px;
    }

    .move-hex-home.hexagon7 {
        top: 44vh;
    }
}   

@media (max-width: 480px) {

    header {
        left: -15vw;
        top: -95vh;
        transform: skewY(-10deg);
    }

    h1 {
        width: 320px;
        font-size: 21px;
    }

    .line {
        height: 9px;
        width: 180px;
    }

    #imgCircle {
        display: none;
    }

    .information {
        width: 400px;
        height: 130px;
        top: 105vh;
        left: 25vw;
        transform: skewY(10deg);
    }

    #background {
        left: -18vw;
        top: -98vh;
        width: 750px;
        transform: skewY(-12deg);
        z-index: 4;
    }

    .hexagon1 {
        width: 30px;
        height: 32px;
    }

    .hexagon2 {
        height: 20px;
        width: 20px;
    }

    .hexagon3 {
        height: 30px;
        width: 25px;
        top: 340px;
        left: 50px;
    }

    .hexagon4 {
        height: 20px;
        width: 20px;
        top: 350px;
        left: 120px;
    }

    .hexagon5 {
        width: 20px;
        height: 25px;
        top: 320px;
        left: 90px;
    }

    .hexagon6 {
        width: 30px;
        height: 35px;
        left: 400px;
    }

    .hexagon7 {
        height: 20px;
        width: 20px;
        top: 300px;
        left: 370px;
    }

    .hexagon8 {
        height: 25px;
        width: 25px;
        top: 320px;
    }
}