header {
    display: flex;
    background: black;
    width: 150vw;
    height: 150vh;
    position: absolute;
    border-radius: 50% / 100%;
    left: -7vw;
    top: -80vh;
    transform: skewY(-15deg);
    z-index: 5;
}

#imgCircle {
    position: absolute;
    top: 91vh;
    left: 84vw;
    width: 23vw;
    transform: skewY(15deg)
}

#background {
    width: 150vw;
    height: 156vh;
    background: #0CB9D8;
    position: absolute;
    border-radius: 50% / 100%;
    left: -7vw;
    top: -84vh;
    transform: skewY(-17deg);
    z-index: 4;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 95vh;
    left: 17vw;
    transform: skewY(15deg);
    font-family: "Anton SC", sans-serif;
    z-index: 10;
    height: 40vh;
}

h1 {
    width: 52vw;
    font-size: 68px;
    color: white;
    letter-spacing: 3px;
    margin: 0 0 0 50px;
}

.color-word1 {
    background: linear-gradient(to right,
            #ff6600,
            #c13838,
            #993399);
    background-clip: text;
    color: transparent;
}

.color-word2 {
    background: linear-gradient(to right,
            #00b7ff,
            #007bff);
    background-clip: text;
    color: transparent;
}

.line {
    background: linear-gradient(to right,
            #FF00FB,
            #FFA109);
    border-radius: 30px;
    width: 272px;
    height: 20px;
}

.hexagon1 {
    width: 3vw;
    height: 7vh;
    background: #04F7FF;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 18vh;
    left: 12vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon2 {
    width: 2vw;
    height: 5vh;
    background: rgba(121, 0, 201, 0.6);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 30vh;
    left: 5vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon3 {
    width: 3vw;
    height: 7vh;
    background: rgba(121, 0, 201, 1);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 76vh;
    left: 5vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon4 {
    width: 2vw;
    height: 5vh;
    background: rgba(121, 0, 201, 1);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 83vh;
    left: 10vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon5 {
    width: 2.5vw;
    height: 6.5vh;
    background: #09E6FF;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 75vh;
    left: 10vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon6 {
    width: 3vw;
    height: 7vh;
    background: linear-gradient(to top,
            #FF9500,
            #C900BC);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 20vh;
    left: 60vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon7 {
    width: 3vw;
    height: 7vh;
    background: #09E6FF;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 50vh;
    left: 70vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon8 {
    width: 3vw;
    height: 7vh;
    background: #7900C9;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 60vh;
    left: 65vw;
    z-index: 15;
    transform: rotate(90deg);
}

@media (max-width: 1537px){
    h1{
        font-size: 54px;
    }
}