<div class="header-wrapper">
  <header [ngClass]="classSpace">
     <img id="imgCircle" *ngIf="showDecorativeCircle"
      src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1763574993/Gemini_Generated_Image_f60f2qf60f2qf60f-removebg-preview_1_zgnbfa.png"
      alt="" >

    <div class="information">

      <h1 [innerHTML]="title"  *ngIf="showTitle && !(hideTitleWhenLogged && user)"></h1>
      <div class="line" *ngIf="showLine"></div>

      <!-- INFO DEL USUARIO -->
      <div class="user-header" *ngIf="showUserInfo && user">

        <div class="field">

            <img class="avatar" [src]="user?.avatar || 'https://res.cloudinary.com/ddvjgyi3f/image/upload/v1765737833/image_46_kk56a6.png'" />
            <img id="imgCirclee" src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1765757969/circle_fktop2.png"
              alt="">
         


          <div class="user-data">
            <p class="nickname">{{ user?.nickName }}</p>
            <div class="line" id="line"></div>

            <div class="space">
              <img class="img" src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1765760082/image-Photoroom_4_1_veuvti.png" alt="">
              <p class="name">{{ user?.fullName }}</p>
            </div>
            
            
            <div class="space">
              <img class="img" src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1765760081/image-Photoroom_3_2_ervkjd.png" alt="">
              <p class="email">{{ user?.email }}</p>
            </div>

            <div class="space" *ngIf="user?.createdAt">
              <img class="img" src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1765760447/image-Photoroom_2_2_nzwcic.png" alt="">
               <p class="date">
              Registrado: {{ user?.createdAt | date: 'dd/MM/yyyy' }}
            </p>
            </div>
           
          </div>

        </div>

        <button class="button-edit" routerLink="/edit-profile">Editar perfil</button>

      </div>
    </div>


  </header>
</div>
<div id="background"></div>

<div class="hexagon1" *ngIf="showHexagon1"></div>
<div class="hexagon2" *ngIf="showHexagon2" [ngClass]="variantClass"></div>
<div class="hexagon3" *ngIf="showHexagon3"></div>
<div class="hexagon4" *ngIf="showHexagon4"></div>
<div class="hexagon5" *ngIf="showHexagon5"></div>
<div class="hexagon6" *ngIf="showHexagon6" [ngClass]="variantClass"></div>
<div class="hexagon7" *ngIf="showHexagon7" [ngClass]="variantClass"></div>
<div class="hexagon8" *ngIf="showHexagon"></div>