.header-wrapper {
    position: relative;
    height: 90vh;
}


header {
    display: flex;
    background: black;
    width: 150vw;
    height: 150vh;
    position: relative;
    border-radius: 50% / 100%;
    left: -7vw;
    top: -95vh;
    transform: skewY(-15deg);
    z-index: 5;
}

#imgCircle {
    position: absolute;
    top: 91vh;
    left: 84vw;
    width: 23vw;
    transform: skewY(15deg)
}

#background {
    width: 150vw;
    height: 156vh;
    background: #0CB9D8;
    position: absolute;
    border-radius: 50% / 100%;
    left: -7vw;
    top: -84vh;
    transform: skewY(-17deg);
    z-index: 4;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 95vh;
    left: 17vw;
    transform: skewY(15deg);
    font-family: "Anton SC", sans-serif;
    z-index: 10;
    height: 40vh;
}

h1 {
    width: 52vw;
    font-size: 68px;
    color: white;
    letter-spacing: 3px;
    margin: 0 0 0 50px;
}

.space .information {
    justify-content: space-evenly;
}

.line {
    background: linear-gradient(to right,
            #FF00FB,
            #FFA109);
    border-radius: 30px;
    width: 272px;
    height: 20px;
}

.hexagon1 {
    width: 3vw;
    height: 7vh;
    background: #04F7FF;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 18vh;
    left: 12vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon2 {
    width: 2vw;
    height: 5vh;
    background: rgba(121, 0, 201, 0.6);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 30vh;
    left: 5vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon3 {
    width: 3vw;
    height: 7vh;
    background: rgba(121, 0, 201, 1);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 76vh;
    left: 5vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon4 {
    width: 2vw;
    height: 5vh;
    background: rgba(121, 0, 201, 1);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 83vh;
    left: 10vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon5 {
    width: 2.5vw;
    height: 6.5vh;
    background: #09E6FF;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 75vh;
    left: 10vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon6 {
    width: 3vw;
    height: 7vh;
    background: linear-gradient(to top,
            #FF9500,
            #C900BC);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 20vh;
    left: 60vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon7 {
    width: 3vw;
    height: 7vh;
    background: #09E6FF;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 50vh;
    left: 70vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon8 {
    width: 3vw;
    height: 7vh;
    background: #7900C9;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 60vh;
    left: 65vw;
    z-index: 15;
    transform: rotate(90deg);
}

.avatar{
    width: 310px;
}

.user-header{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 65vw;
}

.user-data{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    color: white;
}

.nickname{
    font-size: 55px;
    font-family: "Anton SC", sans-serif;
}

#line{
    height: 10px;
    margin: 0 0 0 150px;
}

#imgCirclee{
  position: absolute;
  width: 550px;
  margin-top: -15.50vh;
  margin-left: -38.20vw;
  z-index: -1;
  opacity: 0.9;
}

.field{
    display: flex;
    justify-content: space-around;
}

.button-edit{
    width: 150px;
    height: 40px;
    margin: 100px 0 0 150px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(4, 201, 255, 1);
    border-radius: 15px;
    border: none;
}

.space{
    display: flex;
    align-items: center;
}

.img{
    width: 30px;
    margin: 0 30px 0 0;
}

@media (max-width: 1537px) {
    h1 {
        font-size: 54px;
    }

    .space h1{
        margin: 0 0 0 150px;
    }
}

@media (max-width: 1366px) {
   
    header {
        top: -92vh;
    }

    #background {
        top: -79vh;
    }

    h1 {
        font-size: 43px;
    }

    .information {
        height: 38vh;
    }

    .line {
        height: 15px;
        width: 230px;
    }

     #imgCircle {
        top: 85vh;
        left: 84vw;
    }

       .hexagon3 {
        top: 85vh;
        left: 6vw;
    }

    .hexagon4 {
        top: 91vh;
    }

    .hexagon5 {
        top: 82vh;
    
}