.header-wrapper {
    height: 700px;
}


header {
    display: flex;
    background: black;
    width: 2304px;
    height: 1165px;
    position: relative;
    border-radius: 50% / 100%;
    left: -110px;
    top: -735px;
    transform: skewY(-15deg);
    z-index: 5;
}

#imgCircle {
    position: absolute;
    top: 710px;
    left: 1280px;
    width: 353px;
    transform: skewY(15deg)
}

#background {
    width: 2304px;
    height: 1214px;
    background: #0CB9D8;
    position: absolute;
    border-radius: 50% / 100%;
    left: -110px;
    top: -650px;
    transform: skewY(-17deg);
    z-index: 4;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 737px;
    left: 261px;
    transform: skewY(15deg);
    font-family: "Anton SC", sans-serif;
    z-index: 10;
    height: 310px;
}

h1 {
    width: 52vw;
    font-size: 68px;
    color: white;
    letter-spacing: 3px;
    margin: 0 0 0 50px;
}

.space .information {
    justify-content: space-evenly;
}

.line {
    background: linear-gradient(to right,
            #FF00FB,
            #FFA109);
    border-radius: 30px;
    width: 272px;
    height: 20px;
}

.hexagon1 {
    width: 46px;
    height: 54px;
    background: #04F7FF;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 139px;
    left: 184px;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon2 {
    width: 30px;
    height: 38px;
    background: rgba(121, 0, 201, 0.6);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 232px;
    left: 76px;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon3 {
    width: 46px;
    height: 54px;
    background: rgba(121, 0, 201, 1);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 589px;
    left: 76px;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon4 {
    width: 30px;
    height: 38px;
    background: rgba(121, 0, 201, 1);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 644px;
    left: 153px;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon5 {
    width: 38px;
    height: 50px;
    background: #09E6FF;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 582px;
    left: 153px;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon6 {
    width: 46px;
    height: 54px;
    background: linear-gradient(to top,
            #FF9500,
            #C900BC);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 155px;
    left: 921px;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon7 {
    width: 46px;
    height: 54px;
    background: #09E6FF;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 388px;
    left: 1075px;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon8 {
    width: 46px;
    height: 54px;
    background: #7900C9;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 465px;
    left: 998px;
    z-index: 15;
    transform: rotate(90deg);
}

.avatar {

    width: 310px;
}

.user-header {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 998px;
    left: -3vw;
}

.user-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    color: white;
}

.nickname {
    font-size: 55px;
    font-family: "Anton SC", sans-serif;
}

#line {
    height: 10px;
    margin: 0 0 0 150px;
}

#imgCirclee {
    position: absolute;
    width: 550px;
    top: -122px;
    left: -69px;
    z-index: -1;
    opacity: 0.9;
}

.field {
    display: flex;
    justify-content: space-around;
}

.button-edit {
    width: 150px;
    height: 40px;
    margin: 100px 0 0 150px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(4, 201, 255, 1);
    border-radius: 15px;
    border: none;
}

.space {
    display: flex;
    align-items: center;
}

.img {
    width: 30px;
    margin: 0 30px 0 0;
}

.move-hex-home.hexagon2 {
    left: 89vw;
    top: 27vh;
}

.move-hex-home.hexagon6 {
    left: 92vw;
}

.move-hex-home.hexagon7 {
    left: 87vw;
}

@media (min-width: 1700px) {

    .header-wrapper {
        height: 900px;
    }

    header {
        width: 2630px;
        height: 1349px;
    }

    #background {
        width: 2606px;
        height: 1416px;
    }

    #imgCircle {
        top: 745px;
        left: 1555px;
        width: 461px;
    }

    .information {
        height: 377px;
    }

    .user-header {
        width: 1250px;
    }

    .hexagon3 {
        top: 733px;
    }

    .hexagon4 {
        top: 751px;
        left: 184px;
    }

    .hexagon5 {
        top: 671px;
    }

    .hexagon6 {
        left: 1193px;
    }

    .hexagon7 {
        top: 534px;
        left: 1304px;
    }

    .hexagon8 {
        top: 634px;
        left: 1016px;
    }

    .move-hex-home.hexagon6 {
        left: 93vw;
    }

    .move-hex-home.hexagon7 {
        top: 50vh;
    }

    #imgCirclee {
        left: -6px;
    }

    .button-edit {
        margin: 161px 0 0 189px;
    }
}

@media (max-width: 1537px) {
    h1 {
        font-size: 54px;
    }

}


@media (max-width: 1366px) {

    header {
        height: 1120px;
    }

    #background {
        width: 2304px;
        height: 1162px;
    }

    #imgCircle {
        left: 1125px;
        top: 660px;
    }

    .hexagon3 {
        top: 555px;
    }

    .hexagon4 {
        top: 600px;
    }

    .hexagon5 {
        top: 540px;
    }

    .hexagon7 {
        left: 1000px;
    }

    .hexagon8 {
        top: 450px;
        left: 920px;
    }

    h1 {
        font-size: 43px;
    }

    .information {
        height: 270px;
    }

    .line {
        height: 15px;
        width: 230px;
    }

    .avatar {
        width: 255px;
    }

    #imgCirclee {
        width: 462px;
        top: -104px;
        left: -54px;

    }

    .user-header {
        top: -25px;
    }

    .move-hex-home.hexagon7 {
        top: 360px;
    }

    .button-edit {
        margin: 110px 0 0 108px;
    }
}

@media (max-width: 1279px) {

    header {
        height: 1080px;
    }

    #background {
        width: 2145px;
        height: 1146px;
    }

    #imgCircle {
        width: 330px;
        left: 1060px;
        top: 645px;
    }

    h1 {
        font-size: 40px;
    }

    .information {
        height: 235px;
    }

    .hexagon3 {
        top: 530px;
        left: 90px;
        width: 35px;
        height: 45px;
    }

    .hexagon4 {
        top: 565px;
    }

    .hexagon5 {
        top: 510px;
        width: 35px;
        height: 45px;
    }

    .hexagon6 {
        left: 850px;
    }

    .hexagon7 {
        left: 950px;
        width: 45px;
        height: 50px;
    }

    .hexagon8 {
        top: 430px;
        left: 820px;
        width: 40px;
        height: 45px;
    }

    .nickname {
        font-size: 50px;
    }

    #line {
        margin: 0 0 0 120px
    }

    .user-header {
        width: 845px;
    }

    .field {
        justify-content: space-evenly;
    }

    .button-edit {
        margin: 100px 0 0 140px;
    }

    #imgCirclee {
        left: -41px;
        width: 415px;
    }

    .avatar {
        width: 227px;
        margin-left: -30px;
        margin-top: -10px;
    }

    .button-edit {
        margin: 100px 0 0 102px
    }

}

@media (max-width: 920px) {

    .header-wrapper {
        height: 500px;
    }

    header {
        height: 1000px;
        width: 1500px;
    }

    h1 {
        font-size: 35px;
    }

    .information {
        top: 735px;
        left: 220px;
        height: 198px;
    }

    .line {
        height: 12px;
    }

    #imgCircle {
        top: 653px;
        left: 84vw;
        width: 265px;
    }

    #background {
        height: 1030px;
        width: 1600px;
    }

    .hexagon1 {
        width: 36px;
        height: 44px;
        top: 135px;
        left: 101px;
    }

    .hexagon2 {
        height: 33px;
    }

    .hexagon3 {
        height: 32px;
        width: 33px;
        top: 423px;
        left: 80px;
    }

    .hexagon4 {
        height: 31px;
        width: 26px;
        top: 439px;
    }

    .hexagon5 {
        height: 31px;
        width: 29px;
        top: 398px;

        left: 120px;
    }

    .hexagon6 {
        top: 150px;
        width: 35px;
        left: 626px;
        height: 40px;
    }

    .hexagon7 {
        height: 39px;
        width: 35px;
        left: 702px;
        top: 278px;
    }

    .hexagon8 {
        height: 37px;
        width: 33px;
        left: 616px;
        top: 326px;
    }

    .nickname {
        font-size: 45px;
    }

    #line {
        margin: 0 0 0 80px;
        width: 180px;
    }

    .name {
        font-size: 20px;
    }

    .email {
        font-size: 20px;
    }

    .date {
        font-size: 20px;
    }

    #imgCirclee {
        width: 340px;
        top: -22px;
        left: -58px;
    }

    .user-header {
        width: 750px;
        left: -50px;
        top: -3vh;
    }

    .field {
        justify-content: space-around;
    }

    .button-edit {
        margin: 91px 0 0 70px;
        width: 101px;
        font-size: 12px;
        height: 34px;
    }

    .avatar {
        position: relative;
        top: 65px;
        width: 187px;
        height: 187px;
        left: -14px;
    }

    .user-data {
        margin-top: 24px;
        height: 193px;
    }

    .move-hex-home.hexagon2 {
        width: 20px;
        height: 23px;
        top: 215px;
    }

    .move-hex-home.hexagon6 {
        left: 93vw;
        width: 24px;
        height: 30px;
    }

    .move-hex-home.hexagon7 {
        top: 32vh;
        width: 26px;
        height: 32px;
    }
}

@media (max-width: 870px) {
    h1 {
        font-size: 29px;
    }

    .hexagon6 {
        left: 562px;
    }

    .hexagon8 {
        left: 495px;
        top: 348px;
    }

    .hexagon7 {
        height: 39px;
        width: 33px;
        left: 586px;
        top: 309px;
    }
}

@media (max-width: 870px) {
    .hexagon6 {
        display: none
    }
}

@media (max-width: 768px) {


    .information {
        left: 185px;
        height: 165px;
    }

    #imgCircle {
        left: 617px;
    }

    .line {
        width: 200px;
        height: 10px;
    }

    .hexagon2 {
        left: 39px;
    }

    .hexagon3 {
        width: 28px;
        top: 412px;
    }

    .hexagon4 {
        left: 140px;
        top: 426px;
    }

    .hexagon5 {
        top: 383px;
    }



    .hexagon7 {
        top: 326px;
        left: 551px;
    }

    .hexagon8 {
        left: 475px;
        top: 365px;
    }

    .nickname {
        font-size: 37px;
    }

    #line {
        height: 7px;
        width: 140px;
    }

    .name,
    .email,
    .date {
        font-size: 16px;
    }

    .img {
        width: 24px;
    }

    .avatar {
        width: 173px;
        height: 173px;
        left: 66px;
        top: 48px;
    }

    #imgCirclee {
        width: 305px;
        top: -30px;
        left: 38px;
    }

    .user-data {
        margin: 0;
    }

    .button-edit {
        margin: 88px 0 0 148px;
    }

    .user-header {
        left: -12vw;
        width: 700px;
    }

    .move-hex-home.hexagon7 {
        top: 35vh;
    }
}

@media (max-width: 723px) {

    h1 {
        width: 464px;
    }

    #imgCircle {
        display: none;
    }
}


@media (max-width: 550px) {
    h1 {
        width: 399px;
        font-size: 26px;
    }

    .information {
        left: 156px;
    }

    .hexagon8 {
        left: 407px;
    }

    .hexagon7 {
        top: 316px;
        left: 475px;
    }
}

@media (max-width: 515px) {
    .hexagon7 {
        display: none;
    }
}

@media (max-width: 480px) {

    .header-wrapper {
        height: 330px;
    }

    header {
        height: 931px;
    }

    h1 {
        width: 320px;
        font-size: 21px;
        margin: 0 0 0 35px;
    }

    .line {
        height: 8px;
        width: 144px;
    }

    #imgCircle {
        display: none;
    }

    .information {
        width: 400px;
        height: 130px;
        top: 705px;
        left: 170px;
    }

    #background {
        left: -103px;
        width: 1437px;
        height: 964px;
    }

    .hexagon1 {
        width: 23px;
        height: 26px
    }

    .hexagon2 {
        height: 20px;
        width: 17px;
        top: 200px;
    }

    .hexagon3 {
        height: 25px;
        width: 22px;
        top: 348px;
        left: 55px;
    }

    .hexagon4 {
        height: 22px;
        width: 20px;
        top: 359px;
        left: 94px;
    }

    .hexagon5 {
        width: 20px;
        height: 25px;
        top: 328px;
        left: 81px;
    }

    .hexagon7 {
        height: 27px;
        width: 24px;
        top: 286px;
        left: 408px;
    }

    .hexagon8 {
        height: 25px;
        width: 23px;
        top: 335px;
        left: 331px;
    }

    #imgCirclee {
        width: 229px;
        top: -29px;
        left: 1px;
    }

    .avatar {
        width: 125px;
        height: 125px;
        left: 24px;
        top: 34px;
    }

    .user-header {
        width: 546px;
    }

    .nickname {
        font-size: 30px;
    }

    .name,
    .email,
    .date {
        font-size: 13px;
    }

    #line {
        width: 102px;
        margin: 0px 0 0 44px;
    }

    .user-data {
        height: 162px;
        position: relative;
        left: -44px;
    }

    .img {
        margin: 0 14px 0 0;
    }

    .button-edit {
        margin: 42px 0 0 81px;
        width: 79px;
        font-size: 10px;
        height: 28px;
    }

    .move-hex-home.hexagon2 {
        top: 132px;
    }

    .move-hex-home.hexagon7 {
        top: 120px;
        left: 437px;
        width: 23px;
        height: 26px;
    }
}

@media (max-width: 310px) {

    h1 {
        width: 268px;
        font-size: 17px;
        margin: 0 0 0 20px;
    }

    .information {
        height: 104px;
        top: 713px;
        left: 121px;
    }

    .hexagon2 {
        top: 165px;
    }

    .line {
        height: 7px;
        width: 97px;
    }


    .avatar {
        width: 85px;
        height: 85px;
        left: 9px;
        top: -3px;
    }

    #imgCirclee {
        width: 156px;
        left: 111px;
        top: -48px;
    }

    .field {
        flex-direction: column;
        align-items: center;
    }

    .user-header {
        width: 100%;
    }

    #line {
        display: none;
    }

    .nickname {
        text-align: center;
        font-size: 19px;
    }

    .name,
    .email,
    .date {
        font-size: 11px;
    }

    .img {
        margin: 0px 9px 0 0;
        width: 19px;
    }

    .user-data {
        height: 121px;
        top: 22px;
        left: -7px;
    }
}