<app-nav></app-nav>
<app-header [showUserInfo]="true"></app-header>
<div class="roadmap-container">
  <div
    *ngFor="let mod of modules; let i = index; let last = last"
    class="module-row"
    [class.reverse]="i % 2 !== 0"
  >
    
    <!-- CARD -->
    <div class="module-card">
      <img [src]="mod.img" class="module-icon" />
      <h3>{{ mod.title }}</h3>

      <div class="progress-info">
        <span>Progreso</span>
        <div class="bar">
          <div class="fill" [style.width.%]="mod.progress"></div>
        </div>
      </div>

      <button class="btn-action">Practicar</button>
    </div>

    <!-- CONECTORES -->
    <div class="connector-group">
      <div class="horizontal-path">
        <span class="line"></span>
        <span class="circle active">{{ i * 2 + 1 }}</span>
        <span class="line"></span>
        <span class="circle gray">{{ i * 2 + 2 }}</span>
      </div>

      <span class="vertical-line" *ngIf="!last"></span>
    </div>

  </div>
</div>