.shared-button {
    background: #04C9FF;
    border: 0;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
    border-radius: 15px;
    margin: 70px 0 0 0;
    height: 60px;
    width: 230px;
}

@media (max-width: 1537px) {
    .shared-button {
        font-size: 22px;
    }
}

@media (max-width: 1366px) {
    .shared-button {
        height: 68px;
    }
}

@media (max-width: 920px) {
    .shared-button {
        font-size: 14px;
        height: 50px;
        width: 150px;
    }
}

@media (max-width: 768px) {
    .shared-button {
        margin: 30px 0 0 0;
    }
}