.carousel-container {
    width: 100%;
    height: 300px;
    margin: 0 50px 0 0;
    perspective: 1000px;
}

.carousel {
    width: 50vw;
    height: 220px;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40vw;
    height: 300px;
    border-radius: 12px;
    transition: all 0.6s ease;
    cursor: pointer;
    filter: blur(8px);
    pointer-events: none;
    opacity: 0.7;
}

.images {
    position: absolute;
    top: 22vh;
    left: 50%;
    width: 20vw;
    transform: translate(-50%, -60%);
    z-index: 10;
    pointer-events: none;
}

.card.active {
    transform: translate(-50%, -50%) scale(1.2);
    filter: blur(0);
    opacity: 8;
    pointer-events: none;
    top: 30vh;
    z-index: 10;
}

.bg-black {
    position: absolute;
    top: 8vh;
    width: 460px;
    height: 230px;
    left: 5vw;
    background: black;
    border-radius: 20px;
    pointer-events: auto;
    z-index: 1;
}

.img1 {
    width: 23vw;
    top: 20vh;
}

.img2 {
    width: 35vw;
    top: 20vh;
    left: 43%;
}

.img3{
    width: 34vw;
     top: 27vh;
    left: 55%;
}