<!-- Línea decorativa que separa visualmente la sección -->
<div class="line"></div>
<!-- Contenedor principal de la sección de suscripciones -->
<div class="content-subscriptions">
    <!-- Título principal de la sección -->
    <h2 class="title-record" id="title-achievement">Suscripciones</h2>

    <!-- Contenedor que agrupa imagen y tarjeta -->
    <div class="box-card">
        <!-- Imagen decorativa -->
        <img id="img-avatar" src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1765858158/image-Photoroom_1_1_xctvke.png" alt="">

        <!-- TARJETA PLAN PREMIUM -->
        <div class="card-sus">
            <!-- Sección donde se muestra el precio y tipo de plan -->
            <div class="price-field">
                <h2 class="suntitle-subsc">Premium</h2>
                <div class="line-susbsc"></div>
                <strong class="cost">$ <span class="size-number">19.900</span> COP</strong>
                <p class="type">Mensual</p>
            </div>

            <!-- Lista de beneficios -->
            <ul class="information-field">
                <div class="space">
                    <img class="icons" src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1765861012/image-Photoroom_4_1_djlhvz.png" alt="">
                    <li>Energía ilimitada</li>
                </div>
                <div class="space">
                    <img class="icons" src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1765861012/image-Photoroom_4_1_djlhvz.png" alt="">
                    <li>Sin anuncios</li>
                </div>
                <div class="space">
                    <img class="icons" src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1765861012/image-Photoroom_4_1_djlhvz.png" alt="">
                    <li>Acceso a todos los módulos</li>
                </div>
                <div class="space">
                    <img class="icons" src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1765861012/image-Photoroom_4_1_djlhvz.png" alt="">
                    <li>Interacción por voz con IA</li>
                </div>
            </ul>

            <!-- Botón para suscribirse -->
            <button class="button-subscription" (click)="handleSubscription()">Suscribirse</button>
        </div>
    </div>
</div>
