/*SECCIÓN PRINCIPAL SUSCRIPCIONES*/
/*Contenedor general de toda la sección*/
.content-subscriptions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
    height: 800px;
}

/*CONTENEDOR DE LAS TARJETAS*/
.box-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    width: 100%;
    height: 550px;
}

.title-record {
    font-size: 36px;
    letter-spacing: 1px;
    font-family: "Anton SC", sans-serif;
    background-image: linear-gradient(to bottom, #A9A9A9 10%, #282828 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/*TARJETAS DE SUSCRIPCIÓN*/
.card-sus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(91, 91, 91, 0.97);
    color: white;
    width: 400px;
    height: 500px;
    background: transparent;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    overflow: hidden;
    /*Animación cuando el usuario pasa el mouse*/
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*Efecto hover para tarjeta */
.card-sus:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 10px 11px rgba(255, 191, 239, 0.43)
}

/*Capa externa con degradado*/
.card-sus::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    border-radius: 20px;
    /*Degradado diagonal rojo-morado*/
    background: linear-gradient(135deg,
            #DF2B2E,
            #8E19DB);
    /*Brillo externo*/
    filter: drop-shadow(0 0 10px rgba(223, 43, 46, 0.7));
}

/*Capa interna que simula el fondo real de la tarjeta*/
.card-sus::after {
    content: '';
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    z-index: -1;
    background: rgba(91, 91, 91, 0.97);
    border-radius: 13px;
}

/*ELEMENTOS INTERNOS*/
/*Línea decorativa debajo del título del plan*/
.line-susbsc {
    background: linear-gradient(to right,
            #FF00FB,
            #FFA109);
    border-radius: 30px;
    width: 272px;
    height: 7px;
}

/*Precio*/
.cost {
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
}

/*Número grande del precio*/
.size-number {
    font-size: 36px;
}

/*Texto "Mensual"*/
.type {
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/*Imagen central decorativa*/
#img-avatar {
    width: 270px;
}

/*Título del plan (Basic/Premium)*/
.suntitle-subsc {
    font-size: 46px;
    font-family: 'Anton SC', sans-serif;
    letter-spacing: 1px;
}

/*Contenedor del bloque de precio*/
.price-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 170px;
}

/*Lista de beneficios*/
.information-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 130px;
}

/*Estilo de los textos dentro de la lista*/
li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 0 0 0 20px;
}

/*Contenedor que agrupa ícono + texto*/
.space {
    display: flex;
    width: 100%;
}

/*Ícono de beneficio incluido*/
.icons {
    width: 27px;
}

/*Ícono alternativo (por ejemplo, no incluido)*/
.iconss {
    width: 21px;
    margin: 0 6px 0 0;
}

/*BOTÓN DE SUSCRIPCIÓN*/
.button-subscription {
    width: 80%;
    height: 60px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    /*Degradado*/
    background: linear-gradient(90deg, #ff00ff, #ff9900);
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

/*LÍNEA SUPERIOR DECORATIVA*/
.line {
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to right, #00D9FF, #BEB1F8);
    margin: 30px 0 0 0;
}

/*INICIO DE MEDIA QUERIES*/
@media (max-width: 1279px) {
    .card-sus {
        width: 350px;
        height: 500px;
    }

    .information-field {
        padding: 0;
    }

    li {
        margin: 0 0 0 10px;
    }

    #img-avatar {
        width: 350px;
        margin: 0 20px 0 20px;
    }

    .box-card {
        justify-content: center;
    }
}

@media (max-width: 1119px) {

    #img-avatar {
        display: none;
    }

    .box-card {
        justify-content: space-evenly;
    }
}

@media (max-width: 715px) {

    .content-subscriptions {
        height: 100%;
    }

    .box-card {
        flex-direction: column;
        height: auto;
        gap: 30px;
        padding: 20px 0;
    }
}

@media (max-width: 480px) {
    .card-sus {
        width: 290px;
        height: 430px;
    }

    #title-achievement {
        font-size: 30px;
    }

    .suntitle-subsc {
        font-size: 32px;
    }

    .line-susbsc {
        width: 167px;
    }

    .size-number {
        font-size: 32px
    }

    .cost,
    .type {
        font-size: 22px;
    }

    li {
        font-size: 12px;
    }

    .icons {
        width: 21px;
    }

    .iconss {
        width: 17px;
    }

    .button-subscription {
        width: 73%;
        height: 52px;
        margin: 0 0 12px 0;
    }
}

@media (max-width: 310px) {
    .card-sus {
        width: 250px;
        height: 400px;
    }

    .suntitle-subsc {
        font-size: 32px;
    }

    .line-susbsc {
        width: 167px;
    }

    .size-number {
        font-size: 28px;
    }

    .cost,
    .type {
        font-size: 18px;
    }

    li {
        font-size: 10px;
    }

    .icons {
        width: 21px;
    }

    .iconss {
        width: 17px;
    }

    .button-subscription {
        width: 73%;
        height: 46px;
        margin: 0 0 12px 0;
    }
}