.content-subscriptions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
    height: 800px;
}

.box-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 550px;
}

.card-sus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(91, 91, 91, 0.97);
    color: white;
    width: 400px;
    height: 500px;
    background: transparent;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-sus:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 10px 11px rgba(255, 191, 239, 0.43)
}

.card-sus::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    border-radius: 20px;
    background: linear-gradient(135deg,
            #DF2B2E,
            #8E19DB);
    filter: drop-shadow(0 0 10px rgba(223, 43, 46, 0.7));
}

.card-sus::after {
    content: '';
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    z-index: -1;
    background: rgba(91, 91, 91, 0.97);
    border-radius: 13px;
}

.line-susbsc {
    background: linear-gradient(to right,
            #FF00FB,
            #FFA109);
    border-radius: 30px;
    width: 272px;
    height: 7px;
}

.cost {
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
}

.size-number {
    font-size: 36px;
}

.type {
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#img-avatar {
    width: 400px;
}

.suntitle-subsc {
    font-size: 46px;
    font-family: 'Anton SC', sans-serif;
    letter-spacing: 1px;
}

.price-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 170px;
}

.information-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 130px;
}

li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 0 0 0 20px;
}

.space {
    display: flex;
    width: 100%;
}

.icons {
    width: 27px;
}

.iconss {
    width: 21px;
    margin: 0 6px 0 0;
}

.button-subscription {
    width: 80%;
    height: 60px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: linear-gradient(90deg, #ff00ff, #ff9900);
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.line {
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to right, #00D9FF, #BEB1F8);
    margin: 30px 0 0 0;
}

@media (max-width: 1279px) {

    .card-sus {
        width: 350px;
        height: 500px;
    }

    .information-field {
        padding: 0;
    }

    li {
        margin: 0 0 0 10px;
    }

    #img-avatar {
        width: 350px;
        margin: 0 20px 0 20px;
    }

    .box-card {
        justify-content: center;
    }
}

@media (max-width: 1119px) {

    #img-avatar {
        display: none;
    }

    .box-card {
        justify-content: space-evenly;
    }
}

@media (max-width: 715px) {

    .content-subscriptions {
        height: 100%;
    }

    .box-card {
        flex-direction: column;
        height: 1200px;
    }
}

@media (max-width: 310px) {
    .card-sus {
        width: 250px;
        height: 400px;
    }

    .suntitle-subsc {
        font-size: 32px;
    }

    .line-susbsc {
        width: 167px;
    }

    .size-number {
        font-size: 28px;
    }

    .cost,
    .type {
        font-size: 18px;
    }

    li {
        font-size: 10px;
    }

    .icons {
        width: 21px;
    }

    .iconss {
        width: 17px;
    }

    .button-subscription{
    width: 73%;
    height: 46px;
    margin: 0 0 12px 0;
    }
}