@media(max-width:1366px) {
    section {
        display: flex;
        justify-content: center;
        height: 65vh;
    }

    p {
        font-family: "Poppins", sans-serif;
        font-size: 33px;
        width: 80%;
    }

    #lineLocation {
        margin: 0 0 0 0;
    }

    .aboutContainer {
        position: relative;
        display: flex;
        align-items: center;
        height: 100vh;
    }

    #fontSize {
        font-size: 22px;
        width: 90%;
    }

    .black {
        background: black;
    }

    .black p {
        color: white;
    }

    .white {
        background: white;
    }

    .white p {
        color: black;
    }

    .card {
        display: flex;
        justify-content: space-evenly;
    }

    .card.imageFirst {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .card.infoFirst {
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .locationInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 50%;
    }

    h2 {
        font-size: 33px;
        font-family: "Anton SC", sans-serif;
        letter-spacing: 2px;
        color: #20BAE4;
    }

    .avatar {
        width: 10vw;
    }

    .imgTop {
        height: 500px;
    }

    .blueLine {
        position: absolute;
        background: linear-gradient(to left, rgba(0, 217, 255, 1), rgba(202, 75, 214, 1));
        height: 10px;
        width: 50%;
        border-radius: 30px;
        left: -70vw;
        bottom: 20px;
    }
}