section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 0 100px 0;
}

.mission-information {
    display: flex;
    justify-content: end;
}

.text {
    font-family: "Poppins", sans-serif;
    width: 52vw;
    font-size: 33px;
    margin: 0 80PX 0 0;
}

.line {
    background: linear-gradient(to left, rgba(255, 161, 9, 0.5), rgba(255, 0, 251, 0.5));
    height: 10px;
    width: 60vw;
    border-radius: 30px;
}

.separation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 220px;
    width: 60vw;
}

.container-with-triangle {
    position: relative;
    width: 90vw;
    top: 0px;
    left: 3vw;
    height: 1029px;
    background-color: black;
    clip-path: polygon(0 0, 0 0, 100% 50%, 0 100%);
    margin-top: 50px;
}

.container-with-triangle1 {
    position: absolute;
    top: 1300px;
    width: 75vw;
    height: 943px;
}

.container-with-triangle1::before {
    content: '';
    position: absolute;
    top: -181px;
    left: -5px;
    width: calc(99% + 10px);
    height: calc(99% + 17px);
    background: linear-gradient(to right, #00c6ff, #0072ff);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    z-index: 1;
}

.container-with-triangle1::after {
    content: '';
    position: absolute;
    top: -182px;
    left: -1vw;
    width: 100%;
    height: 952px;
    background-color: black;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    transform: scale(0.99);
    z-index: 2;
}

#text {
    position: absolute;
    color: white;
    top: 24%;
    width: 45vw;
    margin: 0 0 0 7vw;
    z-index: 10;
}

.hexagon3 {
    width: 46px;
    height: 51px;
    background: rgba(121, 0, 201, 0.262);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 506px;
    left: 15vw;
    z-index: 15;
    transform: rotate(90deg);
}


.hexagon5 {
    width: 53px;
    height: 64px;
    background: #09e6ff48;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 111px;
    left: 7vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon6 {
    width: 46px;
    height: 51px;
    background: linear-gradient(to top,
            #ff950058,
            #c900bc43);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 77px;
    left: 30vw;
    z-index: 15;
    transform: rotate(90deg);
}

@media (min-width: 1700px) {

    .container-with-triangle {
        height: 1095px;
    }

    .container-with-triangle1 {
        top: 1545px;
    }

    .container-with-triangle1::before {
        height: calc(102% + 56px);
    }

    .container-with-triangle1::after {
        height: 1020px;
    }

    #text {
        top: 22%;
    }

    .hexagon3 {
        top: 566px;
    }

    .separation {
        height: 266px;
    }

}

@media (max-width: 1537px) {
    .text {
        font-size: 24px;
    }
}

@media (max-width: 1366px) {
    .separation {
        align-items: end;
        height: 213px;
        width: 70vw;
    }

    .container-with-triangle1 {
        top: 1293px;
    }

    .text {
        margin: 0 80px 0 0;
        width: 60vw;
    }

    .line {
        width: 928px;
    }

    #text {
        top: 21%;
    }
}

@media (max-width: 1279px) {
    .line {
        width: 891px;
    }
}

@media (max-width: 920px) {
    .container-with-triangle {
        height: 749px;
    }

    .separation {
        height: 142px;
    }

    .line{
        width: 675px;
        height: 7px;
    }

    .container-with-triangle1 {
        top: 1032px;
        height: 641px;
    }

    .container-with-triangle1::after {
        height: 654px;
    }

    .text {
        font-size: 15px;
    }

    #text {
        top: 14%;
    }

    .hexagon6 {
        width: 35px;
        height: 41px;
        top: 6px;
    }

    .hexagon5 {
        width: 38px;
        height: 45px;
        top: 30px;
    }

    .hexagon3 {
        width: 34px;
        height: 40px;
        top: 251px;
    }
}