.carousel-container {
    width: 100%;
    height: 300px;
    margin: 0 50px 0 0;
    perspective: 1000px;
}

.carousel {
    width: 768px;
    height: 220px;
}

.card {
    position: absolute;
    top: 75px;
    left: 50%;
    width: 768px;
    height: 300px;
    border-radius: 12px;
    transition: all 0.6s ease;
    cursor: pointer;
    filter: blur(8px);
    pointer-events: none;
    opacity: 0.7;
}

.images {
    position: absolute;
    top: 207px;
    left: 50%;
    width: 384px;
    transform: translate(-50%, -60%);
    z-index: 10;
    pointer-events: none;
}

.card.active {
    transform: translate(-50%, -50%) scale(1.2);
    filter: blur(0);
    opacity: 8;
    pointer-events: none;
    top: 236px;
    z-index: 10;
}

.bg-black {
    position: absolute;
    top: 75px;
    width: 460px;
    height: 230px;
    left: 153px;
    background: black;
    border-radius: 20px;
    pointer-events: auto;
    z-index: 1;
}

.card:not(.active) .bg-black,
.card:not(.active) .images {
    transform: scaleX(1.6);
}

.card:not(.active) .img1 {
    transform: translate(-60%, -60%) scaleX(-1.6);
}

.card:not(.active) .img2 {
    transform: translate(-25%, -60%) scaleX(-1.6);
}

.card:not(.active) .img3 {
    transform: translate(-65%, -60%) scaleX(-1.6);
}

.img1 {
    width: 20vw;
    top: 170px;
    left: 50%;
}

.img2 {
    width: 27vw;
    top: 179px;
    left: 44%;
}

.img3 {
    width: 27vw;
    top: 236px;
    left: 55%;
}

@media (max-width: 1537px) {
    .img1 {
        width: 23vw;
        top: 171px;
    }

    .img2 {
        width: 33vw;
        top: 171px;
        left: 43%;
    }

    .img3 {
        width: 34vw;
        top: 231px;
        left: 55%;
    }

    .bg-black {
        left: 153px;
    }

    .card {
        left: 45%;
    }
}

@media (max-width: 1366px) {
    .carousel-container {
        perspective: 800px;
        margin: 0;
        width: 680px;
    }

    .card {
        top: 60%;
        left: 40%;
    }

    .card.active {
        top: 300px;
    }

    .bg-black {
        left: 192px;
        width: 320px;
        height: 170px;
    }

    .img1 {
        top: 163px;
        width: 19vw;
        left: 348px;

    }

    .img2 {
        top: 163px;
        width: 26vw;
        left: 38%;
    }

    .img3 {
        top: 214px;
        width: 28vw;
        left: 47%;
    }
}