.carousel-container {
    width: 100%;
    height: 400px;
    margin: 0 50px 0 0;
    perspective: 1000px;
    overflow: hidden;
    position: relative;
    --tz: 250px
}

.carousel {
    position: relative;
    width: 768px;
    height: 220px;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 768px;
    height: 300px;
    border-radius: 12px;
    transition: all 0.6s ease;
    cursor: pointer;
    filter: blur(8px);
    pointer-events: none;
    opacity: 0.7;
}

.images {
    position: absolute;
    top: 207px;
    left: 50%;
    width: 384px;
    transform: translate(-50%, -60%);
    z-index: 10;
    pointer-events: none;
}

.card.active {
    transform: translate(-50%, -50%) scale(1.2);
    filter: blur(0);
    opacity: 8;
    pointer-events: none;
    top: 236px;
    z-index: 10;
}

.bg-black {
    position: absolute;
    top: 75px;
    width: 460px;
    height: 230px;
    left: 153px;
    background: black;
    border-radius: 20px;
    pointer-events: auto;
    z-index: 1;
}

.card:not(.active) .bg-black,
.card:not(.active) .images {
    transform: scaleX(1.6);
}

.card:not(.active) .img1 {
    transform: translate(-60%, -60%) scaleX(-1.6);
}

.card:not(.active) .img2 {
    transform: translate(-25%, -60%) scaleX(-1.6);
}

.card:not(.active) .img3 {
    transform: translate(-65%, -60%) scaleX(-1.6);
}

.img1 {
    width: 20vw;
    top: 170px;
    left: 50%;
}

.img2 {
    width: 27vw;
    top: 179px;
    left: 44%;
}

.img3 {
    width: 27vw;
    top: 236px;
    left: 55%;
}

@media (min-width: 1538px) {
    .carousel {
        width: 843px;
    }



    .card {
        left: 54%;
    }
}

@media (max-width: 1537px) {
    .img1 {
        width: 23vw;
        top: 171px;
    }

    .img2 {
        width: 33vw;
        top: 171px;
        left: 43%;
    }

    .img3 {
        width: 34vw;
        top: 231px;
        left: 55%;
    }

    .bg-black {
        left: 153px;
    }

    .card {
        left: 45%;
    }



    .carousel {
        left: 63px;
    }
}

@media (max-width: 1366px) {
    .carousel {
        width: 738px;
        height: 220px;
        top: 42px;
        left: 44px;
    }

    .carousel-container {
        perspective: 800px;
        margin: 0;
        width: 680px;
        --tz: 200px;
        --y-offset: -210px;
    }

    .card {
        top: 60%;
        left: 40%;
    }

    .card.active {
        left: 333px;
        top: 300px;
    }

    .bg-black {
        left: 178px;
        width: 320px;
        height: 170px;
    }

    .img1 {
        top: 163px;
        width: 19vw;
        left: 348px;

    }

    .img2 {
        top: 163px;
        width: 26vw;
        left: 38%;
    }

    .img3 {
        top: 214px;
        width: 28vw;
        left: 47%;
    }
}

@media (max-width: 1290px) {
    .carousel-container {
        --x-offset: -330px;
    }

    .carousel {
        width: 466px;
        left: 104px;
    }

    .card.active {
        left: 230px;
        top: 271px;
    }
}

@media (max-width: 1245px) {
    .carousel-container {
        --x-offset: -352px;
        left: 46px;
    }
}

@media (max-width: 1149px) {
    .carousel {
        width: 466px;
        left: 69px;
    }

    .carousel-container {
        width: 614px;
        --tz: 177px;
    }

}


@media (max-width: 1011px) {
    .carousel-container {
        width: 573px;
        --y-offset: -185px;
    }

    .carousel {
        left: 45px;
    }
}

@media (max-width: 1005px) {
    .carousel {
        width: 466px;
    }

    .carousel-container {
        --x-offset: -420px;
        --y-offset: -175px;
        --tz: 140px;
        width: 100%;
        left: -20px;
    }

    .card.active {
        left: 300px;
    }

    .bg-black {
        width: 254px;
        height: 163px;
    }

    .images {
        top: 150px;
        width: 200px;
        transform: translate(-70%, -70%);
    }

    .img2 {
        width: 250px;
        top: 150px;
        left: 35%;
    }

    .img3 {
        width: 250px;
        top: 170px;
        left: 43%;
    }
}

@media (max-width: 920px) {

    .carousel-container {
        left: -7px;
        top: -42px;
    }

    .bg-black {
        width: 229px;
        height: 124px;
    }

    .images {
        top: 130px;
        width: 180px;
        transform: translate(-80%, -70%);
    }

    .img2 {
        width: 220px;
        top: 130px;
        left: 34%;
    }

    .img3 {
        width: 220px;
        top: 150px;
        left: 41%;
    }

    .card.active {
        top: 234px;
        left: 313px;
    }
}

@media (max-width: 768px) {
    .carousel-container {
        display: flex;
        justify-content: center;
        --tz: 128px;
        left: 0;
        top: 0;
        width: 100%;
    }

    .card.active {
        top: 250px;
        left: 330px;
    }

    .bg-black {
        width: 214px;
        height: 151px;
    }

    .images {
        width: 190px;
        transform: translate(-83%, -60%);
    }

    .img2 {
        width: 240px;
        top: 150px;
        left: 340px;
    }

    .img3 {
        width: 250px;
        top: 180px;
        left: 380px;
    }

    .card:not(.active) .img1 {
        transform: translate(-90%, -60%) scaleX(-1.6);
    }

    .card:not(.active) .img2 {
        transform: translate(-60%, -75%) scaleX(-1.6);
    }

    .card:not(.active) .img3 {
        transform: translate(-90%, -70%) scaleX(-1.6);
    }
}

@media (max-width: 490px) {
   

    .bg-black {
        width: 182px;
        height: 117px;
    }


    .images {
        width: 150px;
        transform: translate(-100%, -70%);
    }

    .img2 {
        left: 350px;
    }

    .img3 {
        width: 220px;
        left: 400px;
    }

    .card:not(.active) .img1 {
        transform: translate(-100%, -60%) scaleX(-1.6);
    }

    .card:not(.active) .img2 {
        transform: translate(-95%, -75%) scaleX(-1.6);
    }

    .card:not(.active) .img3 {
        transform: translate(-110%, -70%) scaleX(-1.6);
    }
}

