.carousel-container {
    width: 100%;
    height: 300px;
    margin: 0 50px 0 0;
    perspective: 1000px;
    --tz: 250px
}

.carousel {
    width: 768px;
    height: 220px;
}

.card {
    position: absolute;
    top: 75px;
    left: 50%;
    width: 768px;
    height: 300px;
    border-radius: 12px;
    transition: all 0.6s ease;
    cursor: pointer;
    filter: blur(8px);
    pointer-events: none;
    opacity: 0.7;
}

.images {
    position: absolute;
    top: 207px;
    left: 50%;
    width: 384px;
    transform: translate(-50%, -60%);
    z-index: 10;
    pointer-events: none;
}

.card.active {
    transform: translate(-50%, -50%) scale(1.2);
    filter: blur(0);
    opacity: 8;
    pointer-events: none;
    top: 236px;
    z-index: 10;
}

.bg-black {
    position: absolute;
    top: 75px;
    width: 460px;
    height: 230px;
    left: 153px;
    background: black;
    border-radius: 20px;
    pointer-events: auto;
    z-index: 1;
}

.card:not(.active) .bg-black,
.card:not(.active) .images {
    transform: scaleX(1.6);
}

.card:not(.active) .img1 {
    transform: translate(-60%, -60%) scaleX(-1.6);
}

.card:not(.active) .img2 {
    transform: translate(-25%, -60%) scaleX(-1.6);
}

.card:not(.active) .img3 {
    transform: translate(-65%, -60%) scaleX(-1.6);
}

.img1 {
    width: 20vw;
    top: 170px;
    left: 50%;
}

.img2 {
    width: 27vw;
    top: 179px;
    left: 44%;
}

.img3 {
    width: 27vw;
    top: 236px;
    left: 55%;
}

@media (max-width: 1537px) {
    .img1 {
        width: 23vw;
        top: 171px;
    }

    .img2 {
        width: 33vw;
        top: 171px;
        left: 43%;
    }

    .img3 {
        width: 34vw;
        top: 231px;
        left: 55%;
    }

    .bg-black {
        left: 153px;
    }

    .card {
        left: 45%;
    }
}

@media (max-width: 1366px) {
    .carousel {
        width: 738px;
        height: 220px;
    }

    .carousel-container {
        perspective: 800px;
        margin: 0;
        width: 680px;
        --tz: 200px;
        --y-offset: -210px;
    }

    .card {
        top: 60%;
        left: 40%;
    }

    .card.active {
        left: 333px;
        top: 300px;
    }

    .bg-black {
        left: 178px;
        width: 320px;
        height: 170px;
    }

    .img1 {
        top: 163px;
        width: 19vw;
        left: 348px;

    }

    .img2 {
        top: 163px;
        width: 26vw;
        left: 38%;
    }

    .img3 {
        top: 214px;
        width: 28vw;
        left: 47%;
    }
}

@media (max-width: 1290px) {
    .carousel-container {
        --x-offset: -330px;
    }
}

@media (max-width: 1245px) {
    .carousel-container {
        --y-offset: -180px;
        --x-offset: -300px;
    }
}

@media (max-width: 1149px) {
    .carousel-container {
        --x-offset: -270px;
    }
}

@media (max-width: 1069px) {
    .carousel-container {
        --x-offset: -290px;
    }
}

@media (max-width: 1011px) {
    .carousel-container {
        --y-offset: -185px;
    }
}

@media (max-width: 1005px) {
    .carousel {
        width: 450px;
    }

    .carousel-container {
        --x-offset: -450px;
        --y-offset: -170px;
        --tz: 140px;
        width: 308px;
    }

    .card.active {
        left: 240px;
    }

    .bg-black {
        width: 254px;
        height: 163px;
    }

    .images {
        top: 150px;
        width: 200px;
        transform: translate(-70%, -70%);
    }

    .img2 {
        width: 250px;
        top: 150px;
        left: 35%;
    }

    .img3 {
        width: 250px;
        top: 170px;
        left: 43%;
    }
}

@media (max-width: 920px) {
    .carousel-container {
        --y-offset: -220px;
        --tz: 140px;
    }

    .bg-black {
        width: 229px;
        height: 124px;
    }

    .images {
        top: 130px;
        width: 180px;
        transform: translate(-80%, -70%);
    }

    .img2 {
        width: 220px;
        top: 130px;
        left: 34%;
    }

    .img3 {
        width: 220px;
        top: 150px;
        left: 41%;
    }

    .card.active {
        top: 260px;
        left: 260px;
    }
}

@media (max-width: 920px) {
    .carousel-container {
        --y-offset: -220px;
        --x-offset: -410px;
        --tz: 140px;
    }
}

@media (max-width: 768px) {
    .carousel-container {
        --y-offset: -210px;
        --x-offset: -180px;
        --tz: 180px;
    }

    .card.active {
        top: 300px;
        left: 200px;
    }

    .bg-black {
        width: 280px;
        height: 154px;
    }

    .images {
        width: 230px;
        transform: translate(-63%, -60%);
    }

    .img2 {
        width: 320px;
        top: 150px;
        left: 330px;
    }

    .img3 {
        width: 300px;
        top: 180px;
        left: 360px;
    }
}

@media (max-width: 636px) {
    .carousel-container {
        --x-offset: -230px;
    }
}

@media (max-width: 610px) {
    .carousel-container {
        --x-offset: -255px;
        --tz: 170px;
    }
}

@media (max-width: 565px) {
    .carousel-container {
        --x-offset: -285px;
        --tz: 130px;
    }

    .bg-black {
        width: 238px;
        height: 140px;
    }

    .card.active {
        left: 250px;
    }

    .images {
        width: 180px;
        transform: translate(-75%, -60%);
    }

    .img2 {
        width: 250px;
        top: 140px;
        left: 340px;
    }

    .img3 {
        width: 260px;
        top: 160px;
        left: 380px;
    }

    .card:not(.active) .img1 {
        transform: translate(-80%, -60%) scaleX(-1.6);
    }

    .card:not(.active) .img2 {
        transform: translate(-55%, -60%) scaleX(-1.6);
    }

    .card:not(.active) .img3 {
        transform: translate(-85%, -60%) scaleX(-1.6);
    }
}

@media (max-width: 490px) {
    .carousel-container {
        --tz: 100px;
        --x-offset: -350px;
    }

    .bg-black {
        width: 182px;
        height: 117px;
    }

    .card.active {
        top: 250px;
        left: 290px;
    }

    .images {
        width: 150px;
        transform: translate(-100%, -70%);
    }

    .img2 {
        left: 350px;
    }

    .img3 {
        width: 220px;
        left: 400px;
    }

    .card:not(.active) .img1 {
        transform: translate(-100%, -60%) scaleX(-1.6);
    }

    .card:not(.active) .img2 {
        transform: translate(-95%, -75%) scaleX(-1.6);
    }

    .card:not(.active) .img3 {
        transform: translate(-110%, -70%) scaleX(-1.6);
    }
}

@media (max-width: 390px) {
    .carousel-container {
        --x-offset: -385px;
    }
}