 #Back {
        background-color: black;
        background-image: url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1765758301/Group_62_1_hlbzur.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
        height: 90vh;
    }

    #location {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    img {
        width: 35vw;
    }

    #info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }

    h2 {
        font-size: 33px;
        font-family: "Anton SC", sans-serif;
        background: linear-gradient(90deg, white 0%, #AFA9A9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .line {
        background: linear-gradient(90deg, #006FFF 0%, #B0ACCD 100%);
        border-radius: 5px;
        margin-top: -25px;
        height: 1vh;
        width: 15vw;
    }

    #lineId {
        width: 21vw;
    }

    .carousel-wrapper {
        display: flex;
        align-items: center;
    }

    .carousel {
        display: flex;
        align-items: center;
        height: 40vh;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 5vh;
        width: 10%;
        height: 120px;
        z-index: 1;
    }

    .img {
        width: 15vw;
        cursor: pointer;
    }

    .nav {
        background: #1e90ff;
        color: white;
        border: none;
        font-size: 20px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transition: background-color 0.2s;
    }

    .nav:hover {
        background: #007bff;
    }

    .nav.left {
        margin-right: 60px;
    }

    .nav.right {
        margin-left: 20px;
    }

    #UpdatePhoto {
        cursor: pointer;
        font-weight: bold;
        height: 5vh;
        width: 10vw;
        font-family: "Poppins", sans-serif;
        font-size: clamp(16px, 1vw, 30px);
        border-radius: 8px;
        background-color: #04C9FF;
        border: #04C9FF 1px solid;
    }

    p{
        font-family: "Poppins", sans-serif;
        font-size: 10px;
        color: white;
        margin-top: -25px;
    }

@media(max-width: 1366px) {
    #Back {
        background-color: black;
        background-image: url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1765758301/Group_62_1_hlbzur.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
        height: 90vh;
    }

    #location {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    img {
        width: 35vw;
    }

    #info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }

    h2 {
        font-size: 33px;
        font-family: "Anton SC", sans-serif;
        background: linear-gradient(90deg, white 0%, #AFA9A9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .line {
        background: linear-gradient(90deg, #006FFF 0%, #B0ACCD 100%);
        border-radius: 5px;
        margin-top: -25px;
        height: 1vh;
        width: 15vw;
    }

    #lineId {
        width: 21vw;
    }

    .carousel-wrapper {
        display: flex;
        align-items: center;
    }

    .carousel {
        display: flex;
        align-items: center;
        height: 40vh;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 5vh;
        width: 10%;
        height: 120px;
        z-index: 1;
    }

    .img {
        width: 15vw;
        cursor: pointer;
    }

    .nav {
        background: #1e90ff;
        color: white;
        border: none;
        font-size: 20px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transition: background-color 0.2s;
    }

    .nav:hover {
        background: #007bff;
    }

    .nav.left {
        margin-right: 60px;
    }

    .nav.right {
        margin-left: 20px;
    }

    #UpdatePhoto {
        cursor: pointer;
        font-weight: bold;
        height: 5vh;
        width: 10vw;
        font-family: "Poppins", sans-serif;
        font-size: clamp(16px, 1vw, 30px);
        border-radius: 8px;
        background-color: #04C9FF;
        border: #04C9FF 1px solid;
    }

    p{
        font-family: "Poppins", sans-serif;
        font-size: 10px;
        color: white;
        margin-top: -25px;
    }
}