section {
    height: 100vh;
}
 

#Back {
     background-color: black;
     background-image: url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1765758301/Group_62_1_hlbzur.png");
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center bottom;
     height: 90vh;
 }

 #location {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 100%;
 }

 img {
     width: 35vw;
 }

 #info {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     height: 100%;
 }

 h2 {
     font-size: 33px;
     font-family: "Anton SC", sans-serif;
 }

 .colorTittle {
     background: linear-gradient(90deg, white 0%, #AFA9A9 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .line {
     background: linear-gradient(90deg, #006FFF 0%, #B0ACCD 100%);
     border-radius: 5px;
     margin-top: -25px;
     height: 1vh;
     width: 15vw;
 }

 #lineId {
     width: 21vw;
 }

 .carousel-wrapper {
     display: flex;
     align-items: center;
 }

 .carousel {
     display: flex;
     align-items: center;
     height: 40vh;
 }

 .card {
     display: flex;
     flex-direction: column;
     justify-content: center;
     position: relative;
     top: 5vh;
     width: 10%;
     height: 120px;
     z-index: 1;
 }

 .img {
     width: 15vw;
     cursor: pointer;
 }

 .nav {
     background: #1e90ff;
     color: white;
     border: none;
     font-size: 20px;
     width: 28px;
     height: 28px;
     border-radius: 50%;
     cursor: pointer;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
     transition: background-color 0.2s;
 }

 .nav:hover {
     background: #007bff;
 }

 .nav.left {
     margin-right: 60px;
 }

 .nav.right {
     margin-left: 20px;
 }

 #UpdatePhoto {
     cursor: pointer;
     font-weight: bold;
     height: 5vh;
     width: 10vw;
     font-family: "Poppins", sans-serif;
     font-size: clamp(16px, 1vw, 30px);
     border-radius: 8px;
     background-color: #04C9FF;
     border: #04C9FF 1px solid;
 }

 #textSize {
     font-family: "Poppins", sans-serif;
     font-size: 10px;
     color: white;
     margin-top: -25px;
 }

 #line {
     background: linear-gradient(to right, rgba(190, 177, 248, 1), rgba(0, 217, 255, 1));
     height: 5px;
 }

 section {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     background-color: white;
     height: 90vh;
 }

 #textColor {
     letter-spacing: 2px;
     color: #20BAE4;
 }

 .infoBox {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     font-family: "Poppins", sans-serif;
     font-weight: bold;
     margin: -95px 0 0 0;
     height: 50vh;
     width: 59vw;
 }

 .regisInfo {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     color: black;
     height: 20vw;
 }

 .textEdit {
     font-size: clamp(10px, 1.1vw, 30px);
     margin: 0 0 0 0;
 }

 .recordFields {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 21vw;
     width: 60%;
 }

 input {
     color: black;
     font-family: "Poppins", sans-serif;
     font-size: clamp(10px, 1.1vw, 30px);
     border: 2px solid transparent;
     border-radius: 7.5px;
     background: linear-gradient(#F4F4F4) padding-box,
         linear-gradient(90deg, #AF02FF, #0051FF) border-box;
     padding: 0 0 0 5px;
     height: 5vh;
 }

 .buttons {
     display: flex;
     justify-content: space-around;
     width: 50%;
 }

 #Save {
     cursor: pointer;
     font-weight: bold;
     height: 7vh;
     width: 12vw;
     font-family: "Poppins", sans-serif;
     font-size: clamp(15px, 1vw, 30px);
     border-radius: 8px;
     background-color: #04C9FF;
     border: 2px solid transparent;
 }

 #Save:hover {
     color: white;
     background: linear-gradient(#000000) padding-box,
         linear-gradient(90deg, #EA02FF, #00D9FF) border-box;
 }

 #Cancel {
     cursor: pointer;
     background: none;
     border: none;
     color: red;
     font-weight: bold;
     font-size: clamp(15px, 1vw, 30px);
 }

 .modal {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background: rgba(87, 84, 84, 0.5);
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1000;
 }

 .modalContent {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-family: "Poppins", sans-serif;
     font-size: clamp(10px, 1.1vw, 13px);
     background-color: white;
     border-radius: 5px;
     color: black;
     padding: 18px;
     height: 15%;
     width: 20%;
 }

 .modalExit {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     margin: 30px 0 0 0;
 }

 #question {
     font-weight: normal;
 }

 .buttonStyle {
     cursor: pointer;
     font-family: "Poppins", sans-serif;
     border-radius: 10px;
     height: 3vh;
     width: 5vw;
 }

 .buttonStyle:hover {
     background: black;
     color: white;
 }

 .succes-message {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 #textMod {
     font-size: 15.25px;
     margin: 13px 0 0 0;
 }

 #gear {
     cursor: pointer;
     background: transparent;
     border: none;
     margin: -65px 0 0 49.1vw;
 }

 #styleGear {
     width: 2vw;
 }

 .dropdownContainer {
     position: relative;
     justify-content: center;
     align-items: center;
     height: 15vh;
     width: 100%;
 }

 .dropdownM {
     display: flex;
     position: absolute;
     top: 50%;
     right: 34%;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     border: black 2px solid;
     margin: -50px 0 0 0;
     border-radius: 10px;
     height: 10vh;
     width: 30%;
 }

 .dropdownM.show {
     display: block;
 }

 .switch input {
     opacity: 0;
     width: 0;
     height: 0;
 }

 .switch {
     position: relative;
     display: inline-block;
     width: 35px;
     height: 26px;
     float: right;
 }

 .setting-row {
     display: flex;
     justify-content: space-evenly;
     font-family: "Poppins", sans-serif;
     width: 30%;
 }

 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     transition: .4s;
 }

 .slider:before {
     position: absolute;
     content: "";
     height: 20px;
     width: 20px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     transition: .4s;
     border-radius: 20%;
 }

 input:checked+.slider {
     background-color: #2196F3;
 }

 input:checked+.slider:before {
     transform: translateX(10px);
 }

 .slider.round {
     border-radius: 35px;
 }

 .slider.round:before {
     border-radius: 50%;
 }

 .dropdownContainer {
     height: 20vh;
     margin: 0 0 0 0;
 }

 #settingSound {
     width: 26%;
 }

 .setting-row {
     width: 40%;
 }



 @media(max-width: 1366px) {


     #textMod {
         text-align: center;
     }

     .modalContent {
         height: 20%;
         width: 25%;
     }

     .buttonStyle {
         height: 4vh;
         width: 6.5vw;
     }


     .dropdownM {
         margin: -40px 0 0 0;
     }


     #gear {
         margin: -65px 0 0 48.5vw;
     }

     #textColor {
         margin: 0 0 -35px 0;
     }
 }