<!-- Componente de navegación en la parte superior, con color de fondo personalizado -->
<app-nav [colorBackground]="'backgroundNav2'"></app-nav>

<!-- Contenedor principal del componente de nueva contraseña -->
<div class="component2">
    <div id="spaceInfo">
        <!-- Texto guía para el usuario -->
        <p>Ingresa una nueva contraseña</p>

        <!-- Contenedor que agrupa los campos de input -->
        <div id="spaceInput">

            <!-- Primer campo: Nueva contraseña -->
            <div class="inputs">
                <p class="textNewPass">Nueva contraseña</p>

                <input class="designInputs" type="password">
            </div>

            <!-- Segundo campo: Confirmar contraseña -->
            <div class="inputs">
                <p class="textNewPass">Confirmar contraseña</p>
                <input class="designInputs" type="password">
            </div>
        </div>

        <!-- Contenedor del botón para confirmar la nueva contraseña -->
        <div id="spaceButtonNew">
            <!-- Botón que ejecuta la función goLogin() para redirigir a Login -->
            <button id="buttonAccept" (click)="goLogin()">Aceptar</button>
        </div>
    </div>
</div>

<!-- Componente de pie de página -->
<app-footer></app-footer>