<app-nav [colorBackground]="'backgroundNav2'"></app-nav>

<div class="component2">
    <div id="spaceInfo">
        <p>Ingresa una nueva contraseña</p>
        <div id="spaceInput">
            <div class="inputs">
                <p class="textNewPass">Nueva contraseña</p>

                <input class="designInputs" type="password">
            </div>
            <div class="inputs">
                <p class="textNewPass">Confirmar contraseña</p>
                <input class="designInputs" type="password">
            </div>
        </div>
        <div id="spaceButtonNew">
            <button id="buttonAccept" (click)="goLogin()">Aceptar</button>
        </div>
    </div>
</div>
<app-footer></app-footer>