/*Sección principal que contiene todos los bloques del método de enseñanza*/
section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 100px 0 100px 0;
    gap: 130px;
}

/*Contenedor de cada bloque informativo (imagen + texto)*/
.teaching-information {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

/*Contenedor del texto explicativo*/
.teaching-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    height: 45vh;
    width: 50vw;
}

/*Imagen representativa de cada bloque*/
.teaching-img {
    width: 400px;
}

/*Título principal de cada método de enseñanza*/
.caption {
    color: #20BAE4;
    font-family: "Anton SC", sans-serif;
    font-size: 48px;
    letter-spacing: 1px;
    width: 100%;
}

/*Texto descriptivo del método*/
.text {
    font-family: "Poppins", sans-serif;
    font-size: 33px;
}

/*Línea decorativa debajo del texto*/
.line {
    position: relative;
    background: linear-gradient(to left, rgba(0, 217, 255, 1), rgba(202, 75, 214, 1));
    height: 10px;
    width: 30vw;
    border-radius: 30px;
    /*Ajuste de posición*/
    left: 10vw;
}

/*Variante de la línea decorativa para el segundo bloque*/
#line-two {
    top: 3vh;
    left: -30vw;
    /*Degrado invertido para variar el diseño*/
    background: linear-gradient(to left, rgba(101, 75, 214, 1), rgba(0, 217, 255, 1));
}

/*INICIO DE MEDIA QUERIES*/
@media (min-width: 1538px) {
    .teaching-text {
        height: 590px;
    }

    .teaching-img {
        width: 400px;
        height: 400px;
    }

    .teaching-information {
        align-items: center;
    }
}

@media (max-width: 1537px) {
    .caption {
        font-size: 38px;
    }

    .text {
        font-size: 24px;
    }
}

@media (max-width: 1366px) {
    .caption {
        font-size: 35px;
    }

    .text {
        font-size: 22px;
    }
}

@media (max-width: 1279px) {
    .teaching-text {
        height: 427px;
    }

    .teaching-img {
        width: 380px;
        height: 380px;
    }

    .teaching-information {
        align-items: center;
    }
}

@media (max-width: 920px) {
    section {
        padding: 0 0 50px 0;
        gap: 0;
    }

    .teaching-img {
        width: 265px;
        height: 265px;
    }

    .text {
        font-size: 15px;
    }

    .caption {
        font-size: 20px;
    }

    .teaching-text {
        justify-content: center;
        gap: 25px;

    }

    .teaching-information {
        align-items: center;
    }

}

@media (max-width: 768px) {
    section {
        gap: 38px;
    }

    .teaching-text {
        height: 350px;
        width: 84%;
    }

    .line {
        height: 8px;
    }

    #line-two {
        top: 0vh;
        left: -80%;
    }

    .text {
        font-size: 16px;
    }

    .caption {
        font-size: 23px;
    }

    .teaching-information {
        flex-direction: column;
        gap: 20px;

    }

    #teaching-information-id {
        flex-direction: column-reverse;
    }
}

@media (max-width: 480px) {
    .teaching-text {
        height: 480px;
    }

    section {
        padding: 81px 0 50px 0;
    }

    #line-two {
        left: -84%;
    }

    .line {
        left: 72px;
    }
}

@media (max-width: 430px) {
    .text {
        font-size: 18px;
    }
}