section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 100px 0 100px 0;
    gap: 130px;
}

.teaching-information {
    display: flex;
    justify-content: space-evenly;
}

.teaching-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    height: 45vh;
    width: 50vw;
}

.teaching-img {
    width: 400px;
}

.caption {
    color: #20BAE4;
    font-family: "Anton SC", sans-serif;
    font-size: 48px;
    letter-spacing: 1px;
    width: 100%;
}

.text {
    font-family: "Poppins", sans-serif;
    font-size: 33px;
}

.line {
    position: relative;
    background: linear-gradient(to left, rgba(0, 217, 255, 1), rgba(202, 75, 214, 1));
    height: 10px;
    width: 30vw;
    border-radius: 30px;
    left: 10vw;
}

#line-two {
    top: 3vh;
    left: -30vw;
    background: linear-gradient(to left, rgba(101, 75, 214, 1), rgba(0, 217, 255, 1));
}

@media (max-width: 1537px) {
    .caption {
        font-size: 38px;
    }

    .text {
        font-size: 24px;
    }
}

@media (max-width: 920px) {

    section {
        padding: 0 0 50px 0;
    }

    .teaching-img {
        width: 265px;
        height: 265px;
    }

    .text {
        font-size: 15px;
    }

    .caption {
        font-size: 20px;
    }

    .teaching-text {
        justify-content: center;
        gap: 25px;

    }

    .teaching-information {
        align-items: center;
    }

}

@media (max-width: 768px) {

    section {
        gap: 38px;
    }

    .teaching-text {
        height: 350px;
    }

    .line {
        height: 8px;
    }

    #line-two {
        top: 0vh;
    }

    .text {
        font-size: 18px;
    }

    .caption {
        font-size: 25px;
    }

    .teaching-information {
        flex-direction: column;
        gap: 20px;

    }

    #teaching-information-id {
        flex-direction: column-reverse;
    }
}

@media (max-width: 480px) {
    .teaching-text {
        height: 468px;
        width: 369px;
    }

    section {
        padding: 81px 0 50px 0;
    }

    #line-two{
        left: -290px;
    }

    .line{
        left: 72px;
    }
}