<app-nav></app-nav>
<app-header title="Metodo de enseñanza" [classSpace]="'space'" [showLine]="true" [showHexagon]="true" [showDecorativeCircle]="true"></app-header>
<section>

        <div class="teaching-information">
            <img class="teaching-img"
                src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764727827/image_13_qfpnt1.png" alt="">
            <div class="teaching-text">
                <h2 class="caption">Simulación de entrevista tecnica</h2>
                <p class="text">Estas simulaciones te ayudan a tener un contacto más cercano con las entrevistas
                    laborales reales. <br>A través de la inteligencia artificial, podrás practicar tus respuestas,
                    mejorar tu expresión y ganar confianza en un entorno seguro.</p>
                <div class="line"></div>
            </div>

        </div>

        <div class="teaching-information">

            <div class="teaching-text">
                <h2 class="caption">Interación por voz mediante IA</h2>
                <p class="text">Aprender también puede ser una conversación. <br> Con la interacción por voz impulsada
                    por IA, podrás hablar, preguntar y practicar en tiempo real, como si tuvieras un mentor disponible
                    siempre.<br>Mejora tu pronunciación, tu fluidez y tu confianza al expresarte.</p>
                <div class="line" id="line-two"></div>
            </div>
            <img class="teaching-img"
                src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764727769/image_23_1_qmj8mj.png" alt="">
        </div>

        <div class="teaching-information">
            <img class="teaching-img"
                src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764727765/image_23_2_gle3hw.png" alt="">
            <div class="teaching-text">
                <h2 class="caption">Aprende con color y claridad visual </h2>
                <p class="text">Cada módulo ha sido diseñado para ofrecerte una experiencia dinámica, atractiva y fácil de comprender.<br> Los elementos visuales te guiarán paso a paso, ayudándote a recordar mejor los conceptos y disfrutar el proceso de aprendizaje.</p>
                <div class="line"></div>
            </div>

        </div>
    </section>

<app-footer></app-footer>