<app-nav></app-nav>
<app-header title="Módulos" [showTitle]="true" [showLine]="true" [classSpace]="'space'" [showUserInfo]="true" ></app-header>

<section class="modulesContainer">
  <div class="moduleRow" *ngFor="let module of modules; let i = index; let isLast = last; let isFirst = first" [class.left]="i % 2 === 0"
  [class.right]="i % 2 !== 0"
  [class.last-module]="isLast"
   [class.first-module]="isFirst">

    <!-- Tarjeta -->
    <div class="moduleCard">

      <div class="cardBg" [style.background-image]="'url(' + module.bgImage + ')'"></div>

      <div class="cardContent">
        <img [src]="module.image" [class]="module.size">
        <h3>{{ module.title }}</h3>

        <p class="textProgres">{{module.text}}</p>
        <div class="progressBar">
          <div class="progress" [style.width.%]="module.progress"></div>
        </div>

        <button>Practicar</button>
      </div>

    </div>

    <!-- Nodos -->
    <div class="steps" [ngClass]="i % 2 === 0 ? 'normal' : 'reverse'">

      <!-- Camino horizontal -->
      <div class="path-horizontal">
        <div class="line-step h"></div>
        <div class="line-step h"></div>

        <span class="step">1</span>
        
        <div class="line-step h"></div>
        <div class="line-step h"></div>

        <span class="step">2</span>
      </div>

      <!-- Camino vertical -->
      <div class="path-vertical">
        <div class="line-step v"></div>
        <div class="line-step v"></div>
      </div>

    </div>

  </div>
</section>

<app-footer></app-footer>