<!-- Contenedor principal de autenticación (login + registro) -->
<div id="authContainer">
    <div id="panelWrapper">

        <!-- Capa oscura decorativa / overlay visual-->
        <div id="blackOverlay"></div>

        <!-- PANEL DE REGISTRO -->
        <!-- Se activa cuando showLogin es false -->
        <div class="panel" id="panelRegister" [class.active]="!showLogin" [class.inactive]="showLogin">

            <div class="authClass" id="registerSection">
                <!-- Contenedor del icono para regresa a vista principal -->
                <div class="spaceArrow">
                    <!-- Ruta de regreso a vista principal -->
                    <a (click)="goBack()"><img class="arrow"
                            src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1773261631/arrow-right-white_mtdbvp.png"
                            alt=""></a>
                </div>

                <!-- Contenedor principal del formulario de registro -->
                <div class="containers" id="BlackBackgReg">
                    <h1 class="tittle">Registro</h1>

                    <!-- Línea decorativa -->
                    <div class="spaceLine">
                        <div class="line"></div>
                    </div>

                    <!-- Campos del formulario -->
                    <div class="infoBox">

                        <!-- Cada bloque contiene etiqueta + input -->
                        <div class="regisInfo">
                            <p class="text">Nombre completo</p>
                            <input #name name="registerName" class="field" id="name" [(ngModel)]="registerData.fullName">
                        </div>

                        <div class="regisInfo">
                            <p class="text">Apodo</p>
                            <input class="field" id="nickname" [(ngModel)]="registerData.nickName">
                        </div>

                        <div class="regisInfo">
                            <p class="text">Correo eléctronico</p>
                            <input class="field" id="email" type="email" [(ngModel)]="registerData.email">
                        </div>

                        <!-- Validación de contraseña en tiempo real -->
                        <div class="regisInfo">
                            <p class="text">Contraseña</p>
                            <input class="field" id="password" type="password" [(ngModel)]="registerData.password"
                                (ngModelChange)="caracterPassword(registerData.password)">
                        </div>

                        <!-- Validación de coincidencia  -->
                        <div class="regisInfo">
                            <p class="text">Confirmar contraseña</p>
                            <input class="field" id="confirmPass" type="password"
                                [(ngModel)]="registerData.confirmPassword"
                                (ngModelChange)="passwordValidation(registerData.password, registerData.confirmPassword)">
                        </div>
                    </div>

                    <!-- MENSAJES DE ERROR DINÁMICOS -->
                    @if (errorPassw) {
                        <p class="textTerms textFields" id="textPass">Las contraseñas ingresadas no coinciden.</p>
                    }
                    @if (emptyF && fieldsEmpty()) {
                        <p class="textTerms textFields" id="requieFields">Todos los campos son obligatorios.</p>
                    }
                    @if (caractPassw) {
                        <p class="textTerms textFields" id="requieFields2">La contraseña debe contener al menos 8 caracteres, incluyendo una letra mayúscula y un número.</p>
                    }

                    <!-- Botón principal de registro -->
                    <div (document:keyup.enter)="register()">
                        <div class="spaceButton">
                            <button class="buttonRegist" id="buttonRegist" (click)="register()">Registrarme</button>
                        </div>
                    </div>

                    <!-- División visual -->
                    <div class="division">
                        <div class="line1"></div>
                        <p class="letter">O</p>
                        <div class="line1"></div>
                    </div>

                    <!-- Autenticación social -->
                    <div class="socialAuth">
                        <a (click)="loginWithGithub()" style="cursor:pointer"><img class="social"
                                src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764126164/image_56_dcx5oi.png"
                                alt="GitHub"></a>
                        <a (click)="loginWithGoogle()" style="cursor:pointer"><img class="social"
                                src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1763586357/go-removebg-preview_1_ci2skk.png"
                                alt="Google"></a>
                    </div>

                    <!-- Aceptación de términos -->
                    <div class="terms">
                        <input class="checkbox" type="checkbox" name="acceptTermsPrin" [(ngModel)]="accepTerms"
                            (change)="disError = false">
                        <p class="termsUse"> <span>Acepto</span> <a (click)="openModal()">términos de uso</a></p>
                    </div>

                    <!-- Error si no acepta términos -->
                    @if (disError) {
                        <p class="textTerms">Debes aceptar los términos de uso para continuar.</p>
                    }
                </div>

                <!-- MODAL DE TÉRMINOS Y CONDICIONES -->
                <!-- Se muestra cuando isModalOpen es true -->
                <div class="modal" (click)="onBackdropClick($event)" [class.hidden]="!isModalOpen">
                    <div class="modalContent" (click)="$event.stopPropagation()">

                        <!-- Botón cerrar -->
                        <div class="modalExit">
                            <button class="closeButton" (click)="closeModal()">x</button>
                        </div>

                        <!-- Contenido informativo -->
                        <h3>Términos y Condiciones de Uso</h3>

                        <div class="modalBody">
                            <!-- Texto informativo educativo -->
                            <p>Bienvenido al aplicativo educativo de inglés técnico aplicado al desarrollo de software.
                                Antes de continuar con tu registro, ten en cuenta lo siguiente:</p>
                            <h4>1. Finalidad</h4>
                            <p>El aplicativo tiene fines exclusivamente educativos, para mejorar tus habilidades en
                                inglés técnico aplicado al desarrollo de software.</p>
                            <h4>2. Uso responsable:</h4>
                            <p>Utiliza la plataforma de forma ética, sin modificar, dañar ni usar indebidamente las
                                herramientas o contenidos.</p>
                            <h4>3. Privacidad:</h4>
                            <p>Tus datos personales se usarán solo con fines académicos y estarán protegidos conforme a
                                la política de privacidad.</p>
                            <h4>4. Propiedad intelectual:</h4>
                            <p>Los textos, audios, ejercicios, simulaciones e interfaz son propiedad del aplicativo.
                                Está prohibido copiarlos o distribuirlos sin autorización.</p>
                            <h4>5. Inteligencia artificial:</h4>
                            <p>Las respuestas generadas por IA son de apoyo educativo y pueden contener errores o
                                imprecisiones.</p>
                            <h4>6. Normas de uso:</h4>
                            <ul>
                                <li>No compartas tus credenciales.</li>
                                <li>Completa las actividades de manera personal y honesta.</li>
                                <li>Usa el contenido solo con fines de aprendizaje.</li>
                            </ul>
                            <h4>7. Actualizaciones:</h4>
                            <p>El aplicativo puede modificar sus funciones o políticas sin previo aviso. Al registrarte,
                                confirmas que has leído y aceptas estos términos y normas de uso.</p>

                            <!-- Checkbox dentro del modal -->
                            <div class="modalFooter">
                                <div class="terms" id="termsModal">
                                    <input class="checkbox" type="checkbox" name="acceptTermsModal"
                                        [(ngModel)]="accepTerms">
                                    <p class="termsUse" id="termsUseModal"> <span id="textSpan">Acepto</span>
                                        <a>términos de uso</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Líneas decorativas y divisoras -->
                <div class="line2"></div>
                <div class="line3"></div>

                <!-- Panel lateral que invita a iniciar sesión -->
                <div class="containers" id="WhiteBackg">
                    <h1 class="questionTittle" id="tittle2">¿Ya tienes una cuenta?</h1>
                    <div id="spaceButton2">
                        <button class="buttonRegist" id="buttonRegis" (click)="toggleAuth()">Inicia Sesión</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- PANEL DE LOGIN -->
        <!-- Se activa cuando showLogin es true -->
        <div class="panel" id="panelLogin" [class.active]="showLogin" [class.inactive]="!showLogin">

            <div class="authClass" id="loginSection">
                <!-- Contenedor del icono para regresa a vista principal -->
                <div class="spaceArrow">
                    <!-- Ruta de regreso a vista principal -->
                    <a (click)="goBack()"><img class="arrow"
                            src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1773261623/arrow-right-black_x099cf.png"
                            alt=""></a>
                </div>

                <!-- Panel lateral para cambiar a registro -->
                <div class="containers" id="WhiteBackgLogin">
                    <h1 class="questionTittle" id="Whitetittle">¿No tienes una cuenta?</h1>
                    <div id="spaceButton2" class="spaceButton">
                        <button class="buttonRegist" (click)="toggleAuth()">Registrarme</button>
                    </div>
                </div>

                <!-- Formulario de inicio de sesión-->
                <div class="containers" id="BlackBackgLogin">
                    <h1 class="tittle" id="tittleLogin">Inicio sesión</h1>
                    <div class="spaceLine" id="spaceLineLogin">
                        <div class="line" id="lineLogin"></div>
                    </div>

                    <div class="infoBox" id="infoLogin">
                        <div class="regisInfo" id="loginP">
                            <p class="text">Correo eléctronico o Apodo</p>
                            <input #emailNickname name="identifier" id="email" type="text" [(ngModel)]="loginData.identifier">
                        </div>

                        <div class="regisInfo" id="loginP">
                            <p class="text">Contraseña</p>
                            <input id="password" type="password" [(ngModel)]="loginData.password">
                        </div>

                    </div>

                    <div class="spaceButton" id="spaceButtonLogin">
                        <div (document:keyup.enter)="login()">
                            <!-- Botón login -->
                            <button class="buttonRegist" id="buttonRegist" (click)="login()">Inicia
                                Sesión</button>
                        </div>
                    </div>

                    <div class="terms" id="termsLogin">
                        <!-- Recuperar contraseña -->
                        <p class="termsUse"><a (click)="openModal()">¿Olvidaste tu contraseña?</a></p>
                    </div>

                    <div class="division" id="divisionLogin">
                        <div class="line1"></div>
                        <p class="letter">O</p>
                        <div class="line1"></div>
                    </div>

                    <!-- Login social -->
                    <div class="socialAuth" id="socialAuthLogin">
                        <a (click)="loginWithGithub()" style="cursor:pointer"><img class="social"
                                src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764126164/image_56_dcx5oi.png"
                                alt="GitHub"></a>
                        <a (click)="loginWithGoogle()" style="cursor:pointer"><img class="social"
                                src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1763586357/go-removebg-preview_1_ci2skk.png"
                                alt="Google"></a>
                    </div>
                </div>

                <!-- MODAL RECUPERAR CONTRASEÑA (correo) -->
                <div class="modal" (click)="onBackdropClick($event)" [class.hidden]="!isModalOpen">
                    <div class="modalContent" id="modalContentLogin" (click)="$event.stopPropagation()">

                        <div class="modalBody" id="modalBodyLogin">
                            <p id="textModal">Ingresa tu correo electrónico para enviarte un enlace de recuperación.</p>
                            <input type="email" id="inputSize" [(ngModel)]="forgotPasswordEmail" placeholder="tu@correo.com">
                            <div class="modalFooter" id="modalFooterLogin">
                                <button class="buttons" id="buttonCancel" (click)="closeModal()">Cancelar</button>
                                <button class="buttons" id="buttonAccept" (click)="sendForgotPassword()">Aceptar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Líneas decorativas y divisoras -->
                <div class="line2" id="line2Login"></div>
                <div class="line3" id="line3Login"></div>

                <!-- MODAL CONFIRMAR CÓDIGO -->
                <div class="modal" (click)="onBackdropClick($event)" [class.hidden]="!isConfirmModal">
                    <div class="modalContent" id="modalContentLogin" (click)="$event.stopPropagation()">

                        <div class="modalBody" id="modalBodyLogin">
                            <p id="textModal">Ingresa el código que ha sido enviado a tu correo eléctronico.</p>

                            <!-- Inputs individuales para código -->
                            <div id="spaceInputs">
                                <input type="text" class="inputs" id="code1">
                                <input type="text" class="inputs" id="code2">
                                <input type="text" class="inputs" id="code3">
                                <input type="text" class="inputs" id="code4">
                                <input type="text" class="inputs" id="code5">
                                <input type="text" class="inputs" id="code6">
                            </div>

                            <div class="modalFooter" id="modalFooterLogin">
                                <button class="buttons" id="buttonCancel" (click)="closeModal()">Cancelar</button>
                                <button class="buttons" id="buttonAccept" (click)="goNewPassword()">Aceptar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>