#panelWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#blackOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 5000;
    transform: translateX(-100%);
    /* Comienza fuera de la vista (a la izquierda) */
    transition: transform 0.6s cubic-bezier(.4, 0, .2, 1);
}

/* Cuando el overlay se desliza de izquierda a derecha (registro → login) */
#blackOverlay.slide-right {
    transform: translateX(0);
}

/* Cuando el overlay se desliza de derecha a izquierda (login → registro) */
#blackOverlay.slide-left {
    transform: translateX(0);
}

/* Cuando el overlay se va a la derecha (login → registro) */
#blackOverlay.exit-right {
    transform: translateX(100%);
}

/* Cuando el overlay se va a la izquierda (registro → login) */
#blackOverlay.exit-left {
    transform: translateX(-100%);
}

/* Paneles que están encima de uno al otro */
.panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(.4, 0, .2, 1);
    backface-visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
    /* Los paneles inician fuera de la vista */
}

#panelRegister {
    overflow-y: scroll;
}

/* Panel activo se posiciona en el centro */
.panel.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

/* El panel de Login se mueve a la izquierda cuando está inactivo */
#panelLogin.inactive {
    opacity: 0;
    transform: translateX(-100%);
}

#loginSection,
#registerSection {
    min-height: 100dvh;
}

/* El panel de Registro se mueve a la derecha cuando está inactivo */
#panelRegister.inactive {
    transform: translateX(100%);
}

.authClass {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background:
        linear-gradient(90deg, #000 60%, #f5f5f500 50%),
        url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764470513/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_1_rwgpz5.png") no-repeat 100% 0px / 626px;
    position: relative;
}

.containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tittle {
    font-family: "Anton SC", sans-serif;
    font-size: clamp(38px, 27px, 50px);
    background: linear-gradient(90deg, white 0%, #AFA9A9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 40px 0 0 0;
    letter-spacing: 2px;
}

.spaceLine {
    margin-bottom: 40px;
}

.line {
    background: linear-gradient(90deg, #FF00FB 0%, #FFA109 100%);
    border-radius: 5px;
    margin: 0 0 0 136px;
    height: 6px;
    width: 163px;
}

.infoBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    width: 805px;
    height: 300px;
}

.regisInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 720px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.74) 0%, #AFA9A9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text {
    font-size: clamp(10px, 15px, 30px);
}

input {
    color: black;
    -webkit-text-fill-color: black;
    font-family: "Poppins", sans-serif;
    font-size: clamp(10px, 15px, 30px);
    border: 2px solid transparent;
    border-radius: 7.5px;
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(90deg, #AF02FF, #0051FF) border-box;
    padding: 0 0 0 5px;
    height: 28px;
    width: 443px;
}

.spaceButton {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
    width: 100%;
}

#spaceButton2 {
    margin: 0;
}

.buttonRegist {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: clamp(10px, 13px, 30px);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 12px;
    background:
        linear-gradient(0, rgb(0, 0, 0), rgb(0, 0, 0)) padding-box,
        linear-gradient(90deg, #EA02FF, #00D9FF) border-box;
    padding: 10px 30px;
    position: relative;
    z-index: 1000;
}

.division {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
}

.line1 {
    background: #6e6d6d8c;
    width: 68px;
    height: 1px;
}

.letter {
    font-size: 13px;
    color: #6e6d6d57;
    font-weight: 300px;
    margin: 13px 0 13px 0;
}

.socialAuth {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

.social {
    transition: transform 0.2s ease;
    width: 30px;
}

.social:hover {
    transform: scale(1.15);
}

.terms {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin: 20px 0 0 0;
    width: 220px;
}

.checkbox {
    width: 15px;
    margin: 0 0 0 0;
}

.textTerms {
    color: #fa7171;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    margin: 10px 0 0 0;
}

#textPass {
    font-weight: normal;
    margin: 0 0 0 54px;
}

span {
    font-size: 12px;
    margin-right: 4px;
    color: white;
}

a {
    font-size: 12px;
    cursor: pointer;
    text-decoration-line: none;
    color: #00BBFF;
}

.line2 {
    background: linear-gradient(150deg, #00D9FF, #EA02FF);
    top: 0;
    position: absolute;
    left: 59.9%;
    transform-origin: left center;
    z-index: 2;
    height: 100%;
    width: 5px;
}

.line3 {
    background: linear-gradient(150deg, #00D9FF, #EA02FF);
    top: 0;
    position: absolute;
    left: 59.7%;
    transform-origin: left center;
    z-index: 2;
    height: 100%;
    width: 5px;
}

/*INICIO DE CSS DE LOGIN*/
#WhiteBackg {
    display: flex;
    justify-content: center;
}

.questionTittle {
    font-family: "Anton SC", sans-serif;
    font-size: clamp(38px, 27px, 50px);
    margin: 25px 0 25px 0;
    background: linear-gradient(90deg, rgb(48, 48, 48) 0%, #AFA9A9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#loginSection {
    background:
        linear-gradient(90deg, #f5f5f500 40%, #000 40%),
        url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764471004/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_cvled4.png") no-repeat -19px -10px / 750px;
}

#WhiteBackgLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#Whitetittle {
    font-size: clamp(38px, 27px, 50px);
    background: linear-gradient(90deg, rgb(48, 48, 48) 0%, #AFA9A9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#BlackBackgLogin {
    display: flex;
    justify-content: center;
    position: relative;
    width: 1140px;
}


#infoLogin {
    height: 189px;
}

#tittleLogin {
    margin: 0 0 0 0;
}

#spaceLineLogin {
    margin: 0 0 0 0;
}

#lineLogin {
    margin: 0 0 0 109px;
    width: 204px;
}

#loginP {
    width: 740px;
}

#spaceButtonLogin {
    margin: 0 0 0 0;
}

.termsUse {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    width: 195px;
}

#termsLogin {
    margin: 0 0 0 0;
    height: 63px;
}

#divisionLogin {
    height: 50px;
}

#line2Login {
    left: 40.2%;
}

#line3Login {
    left: 40%;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    z-index: 6000;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease;
}

.modal.hidden {
    display: none;
    opacity: 0;
}

.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: clamp(10px, 15px, 13px);
    background-color: white;
    border-radius: 5px;
    overflow-y: auto;
    color: black;
    padding: 18px;
    height: 70%;
    width: 30%;
}

.modalExit {
    display: flex;
    justify-content: end;
    width: 100%;
}

.closeButton {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    font-weight: bold;
    font-size: clamp(10px, 15px, 18px);
}

h3 {
    text-align: center;
    margin: 0 0 20px 0;
}

.modalBody {
    padding: 15px;
    overflow-y: auto;
}

.modalFooter {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#textSpan {
    color: black;
}

#termsModal {
    height: 80px;
    width: 40%;
}

#modalContentLogin {
    height: 30%;
    width: 30%;
}

#modalBodyLogin {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width: 90%;
}

#textModal {
    font-size: clamp(10px, 15px, 18px);
}

#inputSize {
    width: 100%;
}

#modalFooterLogin {
    justify-content: end;
    margin: 30px 0 0 0;
}

.buttons {
    cursor: pointer;
    height: 31px;
    width: 109px;
    font-family: "Poppins", sans-serif;
    font-size: clamp(10px, 13px, 30px);
    border-radius: 8px;
}

#buttonCancel {
    background-color: transparent;
    border: black 1px solid;
    margin: 0 30px 0 0;
}

#buttonAccept {
    background-color: #04C9FF;
    border: #04C9FF 1px solid;
}

#spaceInputs {
    display: flex;
    justify-content: space-around;
}

.inputs {
    text-align: center;
    height: 31px;
    width: 34px;
    padding: 0 0 0 0;
}

@media(min-width: 1720px) {
    .authClass {
        display: flex;
        flex-direction: row;
        background:
            linear-gradient(90deg, #000 60%, #f5f5f500 50%),
            url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764470513/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_1_rwgpz5.png") no-repeat 60vw -10vh / 50vw;
        position: relative;
        height: 100%;
    }
}

@media(max-width: 1594px) {
    #loginSection {
        background:
            linear-gradient(90deg, #f5f5f500 40%, #000 40%),
            url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764471004/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_cvled4.png") no-repeat -1vw 1vh / 50vw;
    }

    #BlackBackgLogin {
        width: 980px;
    }
}

@media(max-width: 1470px) {
    .infoBox {
        width: 620px;
    }

    .authClass {
        background:
            linear-gradient(90deg, #000 60%, #f5f5f500 50%),
            url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764470513/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_1_rwgpz5.png") no-repeat 60vw -10vh / 60vw;
    }

    #loginSection {
        background:
            linear-gradient(90deg, #f5f5f500 40%, #000 40%),
            url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764471004/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_cvled4.png") no-repeat -1vw -1vh / 60vw;
    }

    #BlackBackgLogin {
        width: 830px;
    }
}

@media(max-width: 1366px) {
    .tittle {
        margin: 0 0 0 0;
    }

    .regisInfo {
        width: 680px;
    }

    input {
        width: 420px;
    }

    a {
        text-decoration-line: none;
        color: #00BBFF;
        font-size: clamp(10px, 6px, 30px);
    }

    span {
        font-size: clamp(10px, 6px, 30px);
    }

    .terms {
        margin: 5px 0 0 0;
        width: 167px;
    }

    .line2 {
        left: 60%;
    }

    #line2Login {
        left: 40.3%;
    }

    .modalContent {
        height: 80%;
        width: 40%;
    }

    #modalContentLogin {
        height: 33%;
        width: 37%;
    }

    h3 {
        margin: 0 0 0 0;
    }

    #termsModal {
        font-size: clamp(10px, 8px, 18px);
        width: 30%;
        height: 40px;
    }

    #modalFooterLogin {
        justify-content: end;
        margin: 30px 0 0 0;
    }

    .checkbox {
        width: 12px;
    }

    #loginP {
        width: 690px;
    }

    #BlackBackgLogin {
        width: 790px;
    }
}

@media(max-width: 1290px) {
    .regisInfo {
        width: 620px;
    }

    input {
        width: 380px;
    }

    #loginP {
        width: 630px;
    }
}

@media(max-width: 1250px) {
    .infoBox {
        width: 610px;
    }

    #termsModal {
        width: 157px;
        height: 30px;
    }
}

@media(max-width: 1200px) {
    .infoBox {
        width: 615px;
    }

    .terms {
        width: 25%;
    }

    input {
        width: 380px;
    }

    #infoLogin {
        width: 665px;
        align-items: end;
    }
}

@media(max-width: 1150px) {
    .infoBox {
        width: 590px;
    }

    .regisInfo {
        width: 570px;
    }

    input {
        width: 340px;
    }

    #loginP {
        width: 610px;
    }

    #infoLogin {
        width: 680px;
        align-items: center;
    }

    .authClass {
        background:
            linear-gradient(90deg, #000 60%, #f5f5f500 50%),
            url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764470513/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_1_rwgpz5.png") no-repeat 60vw -10vh / 70vw;
    }

    #BlackBackgLogin {
        width: 626px;
    }

    #loginSection {
        background:
            linear-gradient(90deg, #f5f5f500 40%, #000 40%),
            url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764471004/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_cvled4.png") no-repeat -1vw 5vh / 60vw;
    }

}

@media(max-width: 1115px) {
    .regisInfo {
        width: 520px;
    }

    input {
        width: 320px;
    }

    .authClass {
        background:
            linear-gradient(90deg, #000 60%, #f5f5f500 50%),
            url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764470513/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_1_rwgpz5.png") no-repeat 60vw -10vh / 70vw;
    }

    #loginSection {
        background:
            linear-gradient(90deg, #f5f5f500 40%, #000 40%),
            url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764471004/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_cvled4.png") no-repeat -1vw 5vh / 60vw;
    }

    #loginP {
        width: 600px;
    }

    #infoLogin {
        align-items: end;
        width: 610px;
    }
}

@media(max-width: 1100px) {
    #loginP {
        width: 590px;
    }

    #infoLogin {
        width: 610px;
    }
}

@media(max-width: 1070px) {
    #infoLogin {
        width: 585px;
    }

    #loginSection {
        background:
            linear-gradient(90deg, #f5f5f500 40%, #000 40%),
            url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764471004/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_cvled4.png") no-repeat -31vw -9vh / 77vw;
    }
}

@media(max-width: 1050px) {
    .infoBox {
        width: 560px;
    }

    #loginP {
        width: 560px;
    }

    #infoLogin {
        width: 588px;
    }
}

@media(max-width: 1020px) {
    .infoBox {
        width: 560px;
    }

    #infoLogin {
        width: 560px;
    }

    #BlackBackgLogin {
        width: 578px;
    }
}

@media(max-width: 980px) {
    .infoBox {
        width: 510px;
    }

    .tittle {
        font-size: clamp(33px, 8px, 50px);
    }

    .questionTittle {
        font-size: clamp(33px, 8px, 50px);
    }

    .regisInfo {
        width: 480px;
    }

    .text {
        font-size: clamp(12px, 8px, 30px);
    }

    .letter {
        font-size: 12px;
    }

    .buttonRegist {
        font-size: clamp(12px, 8px, 30px);
    }

    input {
        width: 300px;
    }

    #loginSection {
        background:
            linear-gradient(90deg, #f5f5f500 40%, #000 40%),
            url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764471004/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_cvled4.png") no-repeat -34vw -7vh / 80vw;
    }

    #Whitetittle {
        font-size: clamp(33px, 27px, 50px);
    }

    #loginP {
        width: 510px;
    }

    #infoLogin {
        align-items: end;
        width: 520px;
    }

    .authClass {
        background:
            linear-gradient(90deg, #000 60%, #f5f5f500 50%),
            url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764470513/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_1_rwgpz5.png") no-repeat 60vw -10vh / 80vw;
    }
}

@media(max-width: 950px) {
    .infoBox {
        width: 500px;
    }

    .terms {
        width: 30%;
    }

    #termsModal {
        margin: 0;
        height: 50px;
    }
}

@media(max-width: 930px) {
    #infoLogin {
        width: 530px;
    }

    .modalContent {
        height: 50%;
        width: 49%;
    }
}

@media(max-width: 900px) {
    .infoBox {
        width: 490px;
    }

    .regisInfo {
        width: 450px;
    }

    input {
        width: 270px;
    }

    .authClass {
        background:
            linear-gradient(90deg, #000 60%, #f5f5f500 50%),
            url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764470513/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_1_rwgpz5.png") no-repeat 60vw -10vh / 85vw;
    }

    #loginSection {
        background:
            linear-gradient(90deg, #f5f5f500 40%, #000 40%),
            url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764471004/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_cvled4.png") no-repeat -44vw -7vh / 91vw;
    }

    #loginP {
        width: 490px;
    }

    #infoLogin {
        width: 520px;
    }
}

@media(max-width: 880px) {
    #loginP {
        width: 470px;
    }

    #infoLogin {
        width: 500px;
    }

    #modalContentLogin {
        height: 34%;
        width: 51%;
    }

    #BlackBackgLogin {
        width: 539px;
    }
}

@media(max-width: 850px) {
    .infoBox {
        width: 420px;
    }

    .tittle {
        font-size: clamp(27px, 8px, 50px);
    }

    .questionTittle {
        font-size: clamp(27px, 8px, 50px);
    }

    .regisInfo {
        width: 410px;
    }

    input {
        width: 230px;
    }

    .terms {
        width: 35%;
    }

    #loginP {
        width: 450px;
    }

    #infoLogin {
        width: 480px;
    }

    #Whitetittle {
        font-size: clamp(27px, 27px, 50px);
    }

}

@media(max-width: 820px) {
    #loginP {
        width: 430px;
    }

    #infoLogin {
        width: 438px;
    }

    .authClass {
        background:
            linear-gradient(90deg, #000 60%, #f5f5f500 50%),
            url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764470513/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_1_rwgpz5.png") no-repeat 60vw -10vh / 90vw;
    }

    #loginSection {
        background:
            linear-gradient(90deg, #f5f5f500 40%, #000 40%),
            url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764471004/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_cvled4.png") no-repeat -46vw -4vh / 94vw;
    }

    #BlackBackgLogin {
        width: 485px;
    }
}

@media(max-width: 810px) {
    .infoBox {
        width: 420px;
    }
}

@media(max-width: 785px) {
    #loginP {
        width: 420px;
    }

    #infoLogin {
        width: 440px;
    }
}

@media(max-width: 768px) {
    .authClass {
        flex-direction: column;
        background: linear-gradient(180deg, #000 79%, #f5f5f500 40%), url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764470513/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_1_rwgpz5.png") no-repeat 100% 616px / 223px;
        height: auto;
    }

    #loginSection {
        height: 900px;
    }

    .tittle {
        font-size: clamp(38px, 8px 50px);
        margin: 15px 0 0 0;
    }

    .questionTittle {
        font-size: clamp(38px, 8px 50px);
        margin: 30px 0 25px 0;
    }

    #BlackBackgReg {
        background-color: #000;
        height: 622px;
        margin: 0px 0 45px 0;
    }

    .spaceButton {
        margin: 20px 0 0 0;
    }

    #WhiteBackg {
        margin: 0 0 0 0;
    }

    #panelWrapper {
        overflow-y: scroll;
    }

    .infoBox {
        height: 350px;
    }

    .regisInfo {
        flex-direction: column;
        align-items: start;
        margin: 0 0 20px 0;
        width: 410px;
    }

    .text {
        font-size: clamp(13px, 8px 30px);
    }

    input {
        height: 30px;
        width: 400px;
    }

    .terms {
        margin: 5px 0 0 0;
        width: 23%;
    }

    .line2 {
        top: 79%;
        right: 0 !important;
        left: 0 !important;
        height: 5px;
        width: 100%;
    }

    .line3 {
        top: 79.5%;
        right: 0 !important;
        left: 0 !important;
        height: 5px;
        width: 100%;
    }

    #loginSection {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background:
            linear-gradient(180deg, #f5f5f500 24%, #000 19%),
            url("https://res.cloudinary.com/ddvjgyi3f/image/upload/v1764471004/Gemini_Generated_Image_nk3tv7nk3tv7nk3t-removebg-preview_3_cvled4.png") no-repeat -15px -100px / 372px;
    }

    #BlackBackgLogin {
        margin: 0px 0 115px 0;
    }

    #lineLogin {
        margin: 0 0 35px 109px;
    }

    #line2Login {
        top: 23%;
    }

    #line3Login {
        top: 23.5%;
    }

    #modalContentLogin {
        height: 210px;
        width: 59%;
    }


    #buttonRegis {
        margin: 0 0 17px 0;
    }

    #termsLogin {
        width: 140px;
    }

    #WhiteBackgLogin {
        text-align: center;
        margin: 18px 0 0 0;
        width: 100%;
    }
}

@media(max-width: 640px) {
    .terms {
        width: 25%;
    }

    #Whitetittle {
        width: 260px;
    }

    .modalContent {
        height: 45%;
        width: 65%;
    }
}

@media(max-width: 570px) {
    #BlackBackgReg {
        height: 100%;
    }

    .tittle {
        font-size: clamp(30px, 8px, 50px);
        margin: 20px 0 0 0;
    }

    .regisInfo {
        align-items: center;
    }

    .infoBox {
        width: 100%;
    }

    .text {
        display: flex;
        align-items: start;
        width: 355px;
    }

    .questionTittle {
        margin: 30px 0 15px 0;
    }

    #Whitetittle {
        font-size: clamp(30px, 8px, 50px);
        width: 290px;
    }

    #tittle2 {
        font-size: clamp(30px, 8px, 50px);
    }

    #WhiteBackg {
        margin: 0 0 0 0;
    }

    input {
        width: 350px;
    }

    .terms {
        width: 30%;
    }

    #panelRegister {
        height: 900px;
    }

    #registerSection {
        height: 100%;
    }

    .socialAuth {
        width: 40%;
    }
}

@media(max-width: 450px) {
    .terms {
        width: 35%;
    }

    .modalContent {
        height: 31%;
        width: 66%;
    }

    .inputs {
        height: 28px;
        width: 28px;
    }

    #modalContentLogin {
        height: 195px;
        width: 80%;
    }

    #infoLogin {
        width: 420px;
    }
}

@media(max-width: 400px) {
    .tittle {
        font-size: clamp(30px, 8px, 50px);
        margin: 20px 0 0 0;
    }

    .text {
        width: 300px;
    }

    .line {
        margin: 0 0 0 80px;
        width: 92px;
    }

    .questionTittle {
        font-size: clamp(30px, 2vw, 50px);
    }

    #WhiteBackg {
        margin: 0 0 0 0;
    }

    .regisInfo {
        width: 300px;
    }

    input {
        width: 300px;
    }

    .terms {
        width: 40%;
    }

    .modalContent {
        height: 35%;
        width: 75%;
    }

    .modalContent {
        height: 34%;
        width: 70%;
    }

    #lineLogin {
        margin: 0 0 0 120px;
        width: 130px;
    }

    .line3 {
        top: 708px;
    }

    .line2 {
        top: 712px;
    }

    #textTerms {
        font-size: 10px;
        margin: 0;
    }

    #BlackBackgReg {
        height: 710px;
    }
}

@media(max-width: 345px) {
    input {
        width: 225px;
    }

    .text {
        width: 233px;
    }

    .terms {
        width: 46%;
    }
}