.component {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(1, 1, 1, 0.616);
    box-shadow: 0 1px 10px 0 rgba(85, 81, 81, 1);
    width: 100%;
    height: 110px;
    position: relative;
    z-index: 10;
}

.backgroundNav.component {
    background: rgba(1, 1, 1, 0.88);
}

#img {
    width: 108px;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 30%;

}

.place {
    font-size: 18px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 25vw;
}

.button1 {
    border-radius: 15px;
    font-size: 18px;
    background-color: #0F0F0F;
    border: solid 1PX #FFFFFF;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
    width: 155px;
    height: 50px;
}

.button2 {
    border-radius: 15px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background-color: rgba(4, 247, 255, 1);
    border: 0;
    cursor: pointer;
    width: 155px;
    height: 50px;
}

.avatar{
    width: 70px;
    border-radius: 50%;
}

.user-info{
    display: flex;
    justify-content: space-evenly;
    width: 250px;
}

span{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: white;
}

.separator{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.close-button{
    display: flex;
    color: white;
    background: none;
    font-family: "Poppins", sans-serif;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.close-button:hover{
    color: rgb(249, 21, 21);
}

@media (max-width: 1366px) {
    .button1 {
        font-size: 16px;
        width: 140px;
        height: 45px;
    }

    .button2 {
        font-size: 16px;
        width: 140px;
        height: 45px;
    }

    .place {
        font-size: 16px;
    }
}