.component {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(1, 1, 1, 0.616);
    box-shadow: 0 1px 10px 0 rgba(85, 81, 81, 1);
    width: 100%;
    height: 110px;
    position: relative;
    z-index: 10;
}

.backgroundNav.component {
    background: rgba(1, 1, 1, 0.88);
}

#img {
    width: 108px;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.place {
    font-size: 18px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 384px;
}

.button1 {
    border-radius: 15px;
    font-size: 18px;
    background-color: #0F0F0F;
    border: solid 1PX #FFFFFF;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
    width: 155px;
    height: 50px;
}

.button2 {
    border-radius: 15px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background-color: rgba(4, 247, 255, 1);
    border: 0;
    cursor: pointer;
    width: 155px;
    height: 50px;
}

.avatar {
    width: 70px;
    border-radius: 50%;
}

.user-info {
    display: flex;
    justify-content: space-evenly;
    width: 250px;
}

span {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: white;
}

.separator {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.close-button {
    display: flex;
    color: white;
    background: none;
    font-family: "Poppins", sans-serif;
    padding: 0;
    border: 0;
    font-size: 11px;
    cursor: pointer;
}

.close-button:hover {
    color: rgb(249, 21, 21);
}

.backgroundNav1.component,
.backgroundNav2.component {
    background: black;
}

.button-edit {
    background: none;
    color: white;
    border: none;
    padding: 0;
    text-align: left;
    margin: 0 0 7px 0;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.hamburguer {
    display: none;
}

#iconMenu {
    position: relative;
    z-index: 1000;
    cursor: pointer;
    width: 30px;
}

@media (min-width: 1700px) {

    .buttons {
        width: 400px;
    }

}

@media (max-width: 1366px) {
    .button1 {
        font-size: 16px;
        width: 140px;
        height: 45px;
    }

    .button2 {
        font-size: 16px;
        width: 140px;
        height: 45px;
    }

    .buttons {
        width: 355px;
    }

    .place {
        font-size: 16px;
    }
}

@media (max-width: 1238px) {
    .buttons {
        width: 25%;
    }

    .button1 {
        font-size: 15px;
        width: 120px;
        height: 45px;
    }

    .button2 {
        font-size: 15px;
        width: 120px;
        height: 45px;
    }
}

@media (max-width: 1010px) {
    .buttons {
        width: 30%;
    }

    .button1 {
        width: 118px;
    }

    .button2 {
        width: 118px;
    }
}

@media (max-width: 920px) {
    #img {
        width: 100px;
    }

    a.place {
        font-size: 14px;
    }

    .button1 {
        font-size: 14px;
        width: 115px;
        height: 42px;
    }

    .button2 {
        font-size: 14px;
        width: 115px;
        height: 42px;
    }

    .nav {
        position: absolute;
        top: 65px;
        right: 440px;
        background: rgb(0 0 0 / 66%);
        flex-direction: column;
        width: 200px;
        padding: 15px 0 15px 15px;
        border-radius: 5px;
        display: none;
    }

    .nav.active {
        display: flex;
    }

    .hamburguer {
        display: block;
        display: flex;
        align-items: center;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: 998;
    }
}

@media (max-width: 792px) {
    .buttons {
        flex-direction: column;
        align-items: center;
        height: 70%;
        width: 20%;
    }

    .button1 {
        border-radius: 12px;
        font-size: 12px;
        width: 100px;
        height: 30px;
    }

    .button2 {
        border-radius: 12px;
        font-size: 12px;
        width: 100px;
        height: 30px;
    }
}

@media (max-width: 780px) {
    .nav {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    #img {
        width: 90px;
    }

    a.place {
        font-size: 13px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
        height: 70%;
        width: 20%;
    }

    .button1 {
        font-size: 12px;
    }

    .button2 {
        font-size: 12px;
    }
}

@media (max-width: 352px) {
    a.place {
        font-size: 12px;
    }

    .button1 {
        font-size: 9px;
        width: 80px;
        height: 27px;
    }

    .button2 {
        font-size: 9px;
        width: 80px;
        height: 27px;
    }
}