<div class="component" [ngClass]="colorBackground">
    <img id="img" src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1763490191/Group_27_xduqke.png" alt="Logo">

    <nav class="nav"> 
        <a class="place" routerLink="">Inicio</a>
        <a class="place" routerLink="">Módulos</a>
        <a class="place" routerLink="">Sobre nosotros</a>
    </nav>

    <div class="buttons">
        <button class="button1" routerLink="login-registro">
            Iniciar Sesión
        </button>

         <button class="button2" routerLink="login-registro">
            Registrarme
        </button>
    </div>
</div>
