<div class="component">
    <img id="img" src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1763490191/Group_27_xduqke.png" alt="Logo">

    <nav class="nav"> 
        <a class="place" href="">Inicio</a>
        <a class="place" href="">Módulos</a>
        <a class="place" href="">Contacto</a>
    </nav>

    <div class="buttons">
        <button class="button1">
            Iniciar Sesión
        </button>

         <button class="button2">
            Registrarme
        </button>
    </div>
</div>
