.component{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(1, 1, 1, 0.88);
    box-shadow: rgba(85, 81, 81, 1);
    height: 110px;
}

#img{
    width: 108px;
}
.nav{
    display: flex;
    justify-content: space-around;
    width: 30%;
    
}
.place{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 22%;
}

.button1{
    border-radius: 15px;
    font-size: 18px;
    background-color: #0F0F0F;
    border: solid 1PX #FFFFFF;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    width: 155px;
    height: 50px;
}

.button2{
    border-radius: 15px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background-color: rgba(4, 247, 255, 1);
    border: 0;
    width: 155px;
    height: 50px;
}