/*Contenedor principal del carrusel*/
.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Contenedor que agrupa las tarjetas*/
.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Estilo de cada tarjeta individual*/
.card {
  display: flex;
  flex-direction: column;
}

/*Estilo de la imagen dentro de la tarjeta*/
.img {
  cursor: pointer;
}

/*Tamaño de imagenes del carrusel*/
.carousel-img {
  width: 255px;
}

/*Botones de navegación (izquierda y derecha)*/
.nav {
  background: #1e90ff;
  color: white;
  border: none;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s;
}

/*Efecto cuando el usuario pasa el mouse*/
.nav:hover {
  background: #007bff;
}

/*Botón izquierdo*/
.nav.left {
  margin-right: 20px;
  padding: 0 2px 0 0;
}

/*Botón derecho*/
.nav.right {
  margin-left: 20px;
  padding: 0 0 0 2px;
}

/*INICIO DE MEDIA QUERIES*/
@media (min-width: 1699px) {
  .carousel-wrapper {
    height: 155px;
  }
}

@media (max-width: 1414px) {
  .carousel-img {
    width: 215px;
  }
}

@media (max-width: 1279px) {
  .carousel-wrapper {
    height: 155px;
  }

  .carousel-img {
    width: 190px;
  }
}

@media (max-width: 1115px) {
  .carousel-img {
    width: 160px;
  }
}

@media (max-width: 998px) {
  .carousel-img {
    width: 140px;
  }
}

@media (max-width: 920px) {
  .carousel {
    height: 100%;
  }

  .carousel-wrapper {
    height: 170px;
  }

  .nav.left {
    margin-right: 5px;
    padding: 0 2px 3px 0;
  }

  .nav.right {
    margin-left: 5px;
    padding: 0 0 3px 2px;
  }

  .nav {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}

@media (max-width: 820px) {
  .carousel-img {
    width: 130px;
  }
}

@media (max-width: 768px) {
  .carousel-img {
    width: 180px;
  }
}

@media (max-width: 645px) {
  .carousel-img {
    width: 150px;
  }
}

@media (max-width: 545px) {
  .carousel-img {
    width: 120px;
  }

  .carousel-wrapper {
    height: 45px;
  }
}

@media (max-width: 480px) {
  .carousel-wrapper {
    height: 120px;
  }

  .nav {
    width: 25px;
    height: 25px;
    font-size: 17px;
  }

  .carousel-img {
    width: 100px;
  }
}

@media (max-width: 385px) {
  .carousel-img {
    width: 90px;
  }
}

@media (max-width: 355px) {
  .carousel-img {
    width: 75px;
  }

  .carousel-wrapper {
    height: 60px;
  }
}

@media (max-width: 310px) {
  .nav.left,
  .nav.right {
    width: 20px;
    height: 20px;
    font-size: 14px;
  }
}