.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  height: 70vh;
}

.card {
  display: flex;
  flex-direction: column;
}

.img {
  width: 20vw;
  cursor: pointer;
}

.nav {
  background: #1e90ff;
  color: white;
  border: none;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s;
}

.nav:hover {
  background: #007bff;
}

.nav.left {
  margin-right: 20px;
  padding:0 2px 0 0 ;
}

.nav.right {
  margin-left: 20px;
  padding: 0 0 0 2px;
}

@media (max-width: 1366px) {
  .carousel {
    width: 65vw;
  }
}