.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
}

.img {
  cursor: pointer;
}

.nav {
  background: #1e90ff;
  color: white;
  border: none;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s;
}

.nav:hover {
  background: #007bff;
}

.nav.left {
  margin-right: 20px;
  padding:0 2px 0 0 ;
}

.nav.right {
  margin-left: 20px;
  padding: 0 0 0 2px;
}

@media (max-width: 1366px) {
  .carousel {
    width: 65vw;
  }
}

@media (max-width: 920px) {

  .carousel-wrapper {
    height: 350px;
  }

  .nav{
    width: 35px;
    height: 35px;
  }

  .nav.left {
  padding:0 2px 3px 0 ;
}

.nav.right {
  padding: 0 0 3px 2px;
}
}

@media (max-width: 920px) {

  .nav{
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}

@media (max-width: 480px) {

  .carousel-wrapper {
    height: 220px;
  }

  .nav{
    width: 25px;
    height: 25px;
    font-size: 17px;
  }
}

@media (max-width: 310px) {

  .nav.left, .nav.right{
    width: 20px;
    height: 20px;
    font-size: 14px;
  }

}