<!-- Contenedor principal del carrusel -->
<div class="carousel-wrapper">

  <!-- Botón para ir a la imagen anterior -->
  <button class="nav left" (click)="cambiarImagenAtras()">❮</button>
  <!-- Contenedor que muestra las tarjetas -->
  <div class="carousel" [style.carousel-width]="carouselWidth" [style.height]="carouselHeight">

    <!-- Recorre 3 posiciones visibles del carrusel -->
    @for (i of [0, 1, 2]; track i) {

    <!-- Calcula el índice real según la posición actual -->
    @let realIndex = (currentIndex() + i) % items.length;

    <!-- Obtiene el item correspondiente -->
    @let item = items[realIndex];

    <!-- Tarjeta individual -->
    <div class="card" [class.active]="realIndex === currentIndex()">

      <!-- Imagen del ítem -->
      <!-- ngClass: aplica estilos dinámicos -->
      <!-- src: ruta de la imagen -->
      <!-- alt: descripción accesible -->
      <!-- click: redirige al login/registro -->
      <!-- width: tamaño dinámico -->
      <img class="carousel-img" [ngClass]="item.clase" [src]="item.ruta" [alt]="item.nombre" (click)="toggleAuth()" />

    </div>
    }

  </div>

  <!-- Botón para ir a la siguiente imagen -->
  <button class="nav right" (click)="cambiarImagen()">❯</button>
</div>