<div class="carousel-wrapper">

  <button class="nav left" (click)="cambiarImagenAtras()">❮</button>
  <div class="carousel">

    @for (i of [0, 1, 2]; track i) {
    @let realIndex = (currentIndex() + i) % items.length;

    @let item = items[realIndex];

    <div class="card" [class.active]="realIndex === currentIndex()">

      <img [ngClass]="item.clase" [src]="item.ruta" [alt]="item.nombre" (click)="toggleAuth()" />

    </div>
    }

  </div>

  <button class="nav right" (click)="cambiarImagen()">❯</button>
</div>