.component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 240px);
    padding: 80px 80px 50px 80px;
}

.optionsLess {
    display: flex;
    justify-content: center;
    gap: 150px;
    width: 100%;
}

.buttonOptions {
    height: 100px;
    width: 163px;
    background-color: rgba(217, 217, 217, 1);
    border: solid 2px rgba(0, 140, 255, 1);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.buttonOptions:hover {
    background-color: black;
    color: white;
}

.progress-bar {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    gap: 20px;
    height: 20px;
    width: 100%;
}

.progress {
    width: 80%;
    border-radius: 35px;
    background-color: rgba(217, 217, 217, 1);
}

.confirmation-button {
    font-family: 'Poppins', sans-serif;
    width: 168px;
    height: 55px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 140, 255, 1);
    font-size: 20px;
}

.button-field {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 120px;
}

.title-module {
    font-family: 'Anton SC', sans-serif;
    font-size: 48px;
    letter-spacing: 2px;
    background: linear-gradient(to right, #333333 -100%, #cecdcd 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.introduction {
    font-size: 44px;
    font-family: "JetBrains Mono", sans-serif;
    margin: 0 0 0 90px;
}

#line {
    height: 2px;
    background-color: rgba(217, 217, 217, 1);
    width: 100%;
}

.text-progress{
    font-size: 20px;
}