.component {
    height: 340vh;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    top: 120vh;
}

.mission-information {
    display: flex;
    justify-content: end;
}

.text {
    font-family: "Poppins", sans-serif;
    width: 52vw;
    font-size: 35px;
}

.line{
    background: linear-gradient(to left,rgba(255, 161, 9, 0.5), rgba(255, 0, 251, 0.5));
    height: 10px;  
    width: 60vw;
    border-radius: 30px;
}

.separation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    width: 60vw;
}

.container-with-triangle{
    position: relative;
    width: 90vw;
    left: 3vw;
    height: 120vh;
    background-color: black;
    clip-path: polygon(0 0, 0 0, 100% 50%, 0 100%);
    margin-top: 100px;
}

.container-with-triangle1 {
    position: absolute;
    top: 48vh;
    width: 75vw;
    height: 110vh;
}

.container-with-triangle1::before {
    content: ''; 
    position: absolute;
    top: -5px; 
    left: -5px; 
    width: calc(99% + 10px);
    height: calc(99% + 17px);
    background: linear-gradient(to right, #00c6ff, #0072ff); 
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    z-index: 1; 
}

.container-with-triangle1::after {
    content: ''; 
    position: absolute;
    top: -0.60vh; 
    left: -1vw; 
    width: 100%;
    height: 111vh;
    background-color: black; 
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    transform: scale(0.99); 
    z-index: 2; 
}

#text{
    position: absolute;
    color: white;
    top: 40%;
    width: 45vw;
    margin: 0 0 0 7vw;
    z-index: 10;
}

.hexagon3 {
    width: 3vw;
    height: 7vh;
    background: rgba(121, 0, 201, 0.262);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 80vh;
    left: 15vw;
    z-index: 15;
    transform: rotate(90deg);
}


.hexagon5 {
    width: 2.5vw;
    height: 6.5vh;
    background: #09e6ff48;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 20vh;
    left: 7vw;
    z-index: 15;
    transform: rotate(90deg);
}

.hexagon6 {
    width: 3vw;
    height: 7vh;
    background: linear-gradient(to top,
            #ff950058,
            #c900bc43);
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    position: absolute;
    top: 30vh;
    left: 30vw;
    z-index: 15;
    transform: rotate(90deg);
}

@media (max-width: 1537px) {
    .text {
        font-size: 24px;
    }

}