.component {
    height: 530vh;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    top: 100vh;
}

.field {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#img1 {
    width: 40vw;
}

.information {
    width: 35vw;
    height: 50vh;
}

.caption {
    color: #20BAE4;
    font-family: "Anton SC", sans-serif;
    font-size: 48px;
    letter-spacing: 1px;
}

.text {
    font-family: "Poppins", sans-serif;
    font-size: 33px;
    margin: 20px 0 0 0;
}

.container-with-triangle {
    width: 55vw;
    height: 110vh;
    background-color: black;
    clip-path: polygon(0 0, 0 0, 100% 50%, 0 100%);
    margin-top: 100px;
}

#img2 {
    position: relative;
    top: -80vh;
    left: 13vw;
    width: 40vw;
}

.content-avatar {
    height: 150vh;
}

.information-avatar {
    width: 35vw;
    height: 50vh;
    margin: 0 7vw 0 0;
}

.field-avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field-modules {
    display: flex;
    justify-content: space-around;
}

.information-modules {
    width: 45vw;
}

.field-invitaion {
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin: 200px 0 0 0;
    height: 90vh;
}

.information-invitation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32vw;
}

.text-invitation {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 33px;
    margin: 20px 0 0 0;
}
.img-cybro{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#img-cybro-gray {
    width: 50vw;
}

#img-symbols{
    position: absolute;
    width: 58vw;
    top: 295vh;
    left: -5vh;
}

#line {
    background: linear-gradient(to left,rgba(190, 177, 248, 1), rgba(0, 217, 255, 1));
    height: 5px;    
}
@media (max-width: 1537px) {
    .caption {
        font-size: 38px;
    }

    .text {
        font-size: 24px;
    }

    .text-invitation{
        font-size: 24px;
    }
}