section {
    display: flex;
    justify-content: center;
    height: 504px;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    width: 80%;
}

#lineLocation {
    margin: 0 0 0 0;
}

.aboutContainer {
    position: relative;
    height: 776px;
}

#fontSize {
    font-size: 22px;
    width: 90%;
}

.black {
    background: black;
}

.black p {
    color: white;
}

.white {
    background: white;
}

.white p {
    color: black;
}

.card {
    display: flex;
    justify-content: space-evenly;
}

.card.imageFirst {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.card.infoFirst {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.locationInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 50%;
}

h2 {
    font-size: 33px;
    font-family: "Anton SC", sans-serif;
    letter-spacing: 2px;
    color: #20BAE4;
}

.avatar {
    width: 10vw;
}

.imgTop {
    height: 500px;
}

.blueLine {
    position: absolute;
    height: 6px;
    width: 50%;
    border-radius: 10px;
    background: linear-gradient(to right,
            rgba(190, 177, 248, 1),
            rgba(0, 217, 255, 1));
}

.blueLine.top {
    top: -6px;
}

.blueLine.bottom {
    bottom: 0;
}

.blueLine.left {
    left: 0;
}

.blueLine.right {
    right: 0;
}

@media (max-width: 1336px) {
    p {
        font-size: 33px;
    }

}

@media (max-width: 920px) {

    p{
        font-size: 27px;
    }

    #fontSize {
        font-size: 15px;
    }

    .imgTop {
        height: 361px;
    }

    .aboutContainer{
        height: 600px;
    }
}

@media (max-width: 768px) {

    .aboutContainer{
        height: 100%;
        padding: 30px;
    }

    .card.imageFirst{
        flex-direction: column;
    }

    .locationInfo{
        width: 600px;
        height: 500px;
    }

    .card.infoFirst{
        flex-direction: column;
    }

    #fontSize{
        font-size: 18px;
    }
}

@media (max-width: 480px) {

    p{
        font-size: 21px;
        margin: 40px 0 0 0;
    }

    h2{
            font-size: 30px;
    }

    .locationInfo[_ngcontent-ng-c3547543113] {
        width: 417px;
        height: 668px;
    }

    .avatar{
        width: 100px;
    }
}