/*Sección principal centrada horizontalmente*/
section {
    display: flex;
    justify-content: center;
    height: 504px;
}

/*Estilos generales para los parráfos*/
p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    width: 80%;
}

/*Elimina márgenes del elemento*/
#lineLocation {
    margin: 0 0 0 0;
}


#AboutInfo {
    display: flex;
    align-items: center;
}


/*Contenedor principal de la sección "about"*/
.aboutContainer {
    position: relative;
    height: 776px;
}

/*Ajuste especifíco de tamaño de texto*/
#fontSize {
    font-size: 22px;
    width: 90%;
}

/*Fondo negro*/
.black {
    background: black;
}

/*Texto blanco con el fondo negro*/
.black p {
    color: white;
}

/*Fondo blanco*/
.white {
    background: white;
}

/*Texto negro con el fondo blanco*/
.white p {
    color: black;
}

/*Contenedor tipo tarjeta con elementos distribuidos*/
.card {
    display: flex;
    justify-content: space-evenly;
}

/*Diseño cuando la imagen va primero*/
.card.imageFirst {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

/*Diseño cuando la información va primero*/
.card.infoFirst {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

/*Contenedor de la información dentro de la tarjeta*/
.locationInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 50%;
}

/*Estilos de los títulos*/
h2 {
    font-size: 33px;
    font-family: "Anton SC", sans-serif;
    letter-spacing: 2px;
    color: #20BAE4;
}

/*Imagen de avatar adaptable al tamaño de la pantalla*/
.avatar {
    width: 10vw;
}

/*Imagen superior con altura fija*/
.imgTop {
    height: 500px;
}

/*Línea decorativa azul con degradado*/
.blueLine {
    position: absolute;
    height: 6px;
    width: 50%;
    border-radius: 10px;
    background: linear-gradient(to right,
            rgba(190, 177, 248, 1),
            rgba(0, 217, 255, 1));
}

/*Posiciones para las líneas decorativas*/
.blueLine.top {
    top: -6px;
}

.blueLine.bottom {
    bottom: 0;
}

.blueLine.left {
    left: 0;
}

.blueLine.right {
    right: 0;
}

/*INICIO MEDIA QUERIES*/
@media (max-width: 1336px) {
    section {
        height: 100%;
        padding: 50px;
    }

}

@media (max-width: 920px) {

    p {
        font-size: 15px;

    }

    #fontSize {
        font-size: 15px;
    }

    .imgTop {
        height: 361px;
    }

    .aboutContainer {
        height: 600px;
    }
}

@media (max-width: 768px) {

    section {
        height: 100%;
        padding: 35px;
    }

    p {
        font-size: 16px;

    }

    .aboutContainer {
        height: 100%;
        padding: 30px;
    }

    .card.imageFirst {
        flex-direction: column;
    }

    .locationInfo {
        width: 100%;
        height: 500px;
    }

    .card.infoFirst {
        flex-direction: column;
    }

    #fontSize {
        font-size: 16px;
    }

    h2 {
        font-size: 30px;
    }
}

@media (max-width: 480px) {

    p {
        width: 100%;
        margin: 0;
    }

    h2 {
        font-size: 27px;
    }

    .locationInfo {
        height: 668px;
    }

    .avatar {
        width: 100px;
    }

    .imgTop {
        height: 293px;
    }


    .aboutContainer {
        height: 1251px;
    }

    .card.imageFirst,
    .card.infoFirst {
        justify-content: center;
        gap: 35px;
    }

    #fontSize {
        width: 100%;
    }
}