<app-nav></app-nav>
<app-header title="Sobre Nosotros" [classSpace]="'space'" [showLine]="true" [showHexagon]="true"
  [showDecorativeCircle]="true" [showTitle]="true" [hideTitleWhenLogged]="false"
  [showHexagon1]="true" [showHexagon2]="true"
        [showHexagon3]="true" [showHexagon4]="true" [showHexagon5]="true" [showHexagon6]="true" [showHexagon7]="true"
></app-header>

<section>
  <p id="AboutInfo">Somos un grupo de aprendices del programa Análisis y Desarrollo de Software (ADSO), nosotros como
    aprendices,
    combinamos teoría y práctica para aprender y desarrollar habilidades en programación, diseño de interfaces y
    gestión de bases de datos.

    Cada uno de nosotros aporta conocimientos, creatividad y dedicación para fortalecer nuestras competencias y
    avanzar hacia un perfil profesional sólido dentro del sector tecnológico.</p>
</section>

<section class="aboutContainer" *ngFor="let item of team; let i = index" [ngClass]="i % 2 === 0 ? 'black' : 'white'">

  <div class="blueLine top"
       [ngClass]="i % 2 === 0 ? 'right' : 'left'">
  </div>

  <div class="card" [ngClass]="i % 2 === 0 ? 'imageFirst' : 'infoFirst'">

    <!-- Imagen siempre primero en bloque negro, después en blanco -->
    <img class="imgTop" [src]="item.img">

    <div class="locationInfo">
      <h2>{{ item.title }}</h2>
      <img class="avatar" [src]="item.imgAvatar">
      <p id="fontSize">{{ item.text }}</p>
    </div>
  </div>

  <div *ngIf="!last"
       class="blueLine bottom"
       [ngClass]="i % 2 === 0 ? 'left' : 'right'">
  </div>

</section>
<app-footer></app-footer>