.content-target-streak {
    display: flex;
    justify-content: space-around;
    margin: 0 0 100px 0;
}

.content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 750px;
}

.subTitle {
    font-family: "Anton SC", sans-serif;
    font-size: 3em;
    background-image: linear-gradient(to bottom,
            #7B00FF 10%,
            #171717 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

.target-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    outline: 2px solid transparent;
    background:
        linear-gradient(#ffffff, #ffffff) padding-box,
        linear-gradient(10deg, rgba(248, 86, 207, 1), rgb(32, 1, 32)) border-box;
    border: 3px solid transparent;
    width: 550px;
    height: 600px;
}

.box-up {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

#img-trophy {
    width: 100px;
}

.title-target {
    font-size: 36px;
    font-family: "Anton SC", sans-serif;
    letter-spacing: 1px;
}

#img-gitHub {
    width: 300px;
}

#img-Cybro {
    width: 400px;
    top: 145vh;
    left: 55vw;
    z-index: 10;
}

#img-line {
    width: 200px;
}

.box-title {
    justify-content: end;
}

.box-title {
    display: flex;
    flex-direction: column;
    margin: 0 20% 0 0;
}

#text-target {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.button-target {
    color: white;
    background-color: rgba(61, 61, 61, 1);
    border-radius: 25px;
    border: none;
    height: 50px;
    width: 130px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 13px 13px 13px -1px rgba(0, 0, 0, 0.4);
    transition: all 0.15s ease;
    transform: translateY(0);
}

.button-target:active {
    transform: translateY(4px);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.border-streak {
    background-color: #0099ff;
    width: 600px;
    padding: 3px;
    box-sizing: border-box;
    clip-path: path(" M 0 750 L 600 750 L 600 25 Q 590 10 560 10 Q 310 100 0 130 Q 0 0 0 0 Z");
    border-radius: 30px;
}

.content-streak {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    color: white;
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: path(" M 0 750 L 600 750 L 600 30 Q 590 10 560 10 Q 310 100 0 130 Q 0 0 0 0 Z");
    border-radius: 30px;
}

#streak {
    font-size: 11em;
    font-family: "Anton SC", sans-serif;
}

.box-img {
    display: flex;
    align-items: center;
    width: 100%;
}

#title-streak {
    position: relative;
    font-family: "Anton SC", sans-serif;
    font-weight: bold;
    font-size: 34px;
    letter-spacing: 1px;
    top: 10vh;
    background-image: linear-gradient(to bottom,
            #a0a0a0 50%,
            #696969 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.content-progress {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 650px;
}

.progress-bar {
    width: 100%;
    height: 70px;
    background-color: #e0e0e0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.progress-fill {
    display: flex;
    align-items: center;
    color: black;
    height: 70px;
    margin: 0 0 0 10px;
    background-image: linear-gradient(45deg,
            rgba(255, 255, 255, 0.15) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.15) 50%,
            rgba(255, 255, 255, 0.15) 75%,
            transparent 75%,
            transparent);
    background-size: 40px 40px;
    animation: move-stripes 2s linear infinite;
    position: absolute;
}

.box-energy {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 100%;
}

.field {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

#cybro-energy {
    width: 450px;
}

#img-energy {
    height: 50px;
}

@keyframes move-stripes {
    100% {
        background-position: 40px 0;
    }
}

.title-progress {
    font-size: 36px;
    font-family: "Anton SC", sans-serif;
    letter-spacing: 1px;
    color: #20BAE4;
}

.box-progress {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    height: 500px;
}

#percentage {
    width: 85px;
}

#progress {
    display: flex;
    justify-content: center;
    font-family: "Anton SC", sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    background-image: linear-gradient(to right,
            #d3d3d3 0%,
            #a9a9a9 30%,
            #696969 70%,
            #4f4f4f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
}

#state {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}

#tilte-energy {
    font-size: 30px;
    font-family: "Anton SC", sans-serif;
    letter-spacing: 1px;
    background-image: linear-gradient(to right,
            #818080 5%,
            #585858 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
}

.different-color {
    font-family: "Anton SC", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    background-image: linear-gradient(to right,
            #FF7700 5%,
            #D6F300 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.line {
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to right, #00D9FF, #BEB1F8);
    margin: 30px 0 0 0;
}

#line {
    margin: 0 0 80px 0;
}

.content-record {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;
}

.box-record {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 200px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 0 4px transparent;
    transition: box-shadow 0.3s;
}

.practical-degree {
    font-size: 23px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-family: 'Anton SC', sans-serif;
}

.text-record {
    margin: 5px 0;
    font-size: 16px;
}

.tarjeta.completada {
    box-shadow: 0 0 0 4px black;
}

.tarjeta.pendiente {
    box-shadow: 0 0 0 2px black, 0 0 0 4px #ff00ff;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 136px;
}

.results {
    font-size: 20px;
    font-weight: normal;
}

.text-record {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
}

.title-record {
    font-size: 36px;
    letter-spacing: 1px;
    font-family: 'Anton SC', sans-serif;
    background-image: linear-gradient(to bottom,
            #A9A9A9 10%,
            #282828 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.content-achievement {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #000;
    margin: 150px 0 0 0;
}

.field-achievements {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    height: 400px;
}

.achievement-card {
    display: flex;
    align-items: center;
    width: 350px;
    height: 90px;
    gap: 15px;
    padding: 15px 30px;
    border-radius: 12px;
    max-width: 400px;
    min-height: 70px;
    background-color: #000;
    border: 1px solid;
    transition: box-shadow 0.3s ease;
}

.message-achievement {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 5px;
}

.achievement-icon.icon{
    height: 65px;
}

.achievement-icon {
    width: 80px;
    height: 80px;
}

