<div id="line"></div>
<footer>
    <div class="information-footer">
        <img id="img-logo-footer" src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1763490191/Group_27_xduqke.png" alt="Logo">

        <ul>
            <li><a class="place-views" href="">Misión</a></li>
            <li><a class="place-views" href="">Contacto</a></li>
            <li><a class="place-views" href="">Metodo de enseñanza</a></li>
            <li><a class="place-views" href="">Términos y privacidad</a></li>
        </ul>
    </div>

    &copy; Copyright 2026 LingCode
</footer>