<div id="line"></div>
<footer>
    <div class="information-footer">
        <img id="img-logo-footer" src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1763490191/Group_27_xduqke.png" alt="Logo">

        <ul>
            <li><a class="place-views" routerLink="/mission">Misión</a></li>
            <li><a class="place-views" routerLink="">Ayuda y soporte</a></li>
            <li><a class="place-views" routerLink="">Términos y privacidad</a></li>
            <li><a class="place-views" routerLink="/teaching-method">Metodo de enseñanza</a></li>
        </ul>
    </div>

    <p>&copy; Copyright 2026 LingCode</p>
</footer>