<!-- Línea decorativa superior del footer -->
<div id="line"></div>
<!-- Contenedor principal del footer -->
<footer>
    <!-- Sección que agrupa el logo y los enlaces -->
    <div class="information-footer">
        <!-- Logo de la plataforma -->
        <img id="img-logo-footer" src="https://res.cloudinary.com/ddvjgyi3f/image/upload/v1763490191/Group_27_xduqke.png" alt="Logo">

        <!-- Listas de enlaces de navegación del footer -->
        <ul>
            <!-- Enlace a vista misión -->
            <li><a class="place-views" routerLink="/mission">Misión</a></li>
            <!-- Enlace a la sección de ayuda y soporte -->
            <li><a class="place-views" routerLink="/help-support">Ayuda y soporte</a></li>
            <!-- Enlace a la sección de términos y privacidad -->
            <li><a class="place-views" routerLink="/norms-politics">Términos y privacidad</a></li>
            <!-- Enlace a la sección de método de enseñanza -->
            <li><a class="place-views" routerLink="/teaching-method">Método de enseñanza</a></li>
        </ul>
    </div>

    <!-- Texto de derechos de autor -->
    <p>&copy; Copyright 2026 LingCode</p>
</footer>