*{
    font-family: 'Poppins', sans-serif;
}
.component {
    display: flex;
    justify-content: center;
    height: 365vh;
}

section {
    position: relative;
    top: 25vh;
}

.title {
    display: flex;
    justify-content: center;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50vw;
    height: 320vh;
}

#titleNor{
    margin: 70px 0 0 0;
}