#spaceImg {
    position: relative;
}

#imgWheel {
    position: absolute;
    z-index: -1;
    right: 300px;
    width: 600px;
}

#BlackBackg {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 70%;
}

#tittle {
    font-family: "Anton SC", sans-serif;
    font-size: 48px;
    background: linear-gradient(90deg, white 0%, #AFA9A9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 70px;
    letter-spacing: 2px;
}

#spaceLine {
    margin-top: -3px;
}

#line {
    background: linear-gradient(90deg, #FF00FB 0%, #FFA109 100%);
    border-radius: 5px;
    margin-left: 170px;
    height: 10px;
    width: 211px;
}

#infoBox {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 60px;
    height: 40vh;
    width: 55vw;
}

#regisInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.74) 0%, #AFA9A9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 250px;
}

#recordFields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

input {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(90deg, #AF02FF, #0051FF) border-box;
    padding: 0 0 0 5px;
    height: 33px;
}

#spaceButton {
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
    height: 80px;
    width: 60%;
}

.buttonRegist {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 12px;
    background:
        linear-gradient(0, rgb(0, 0, 0), rgb(0, 0, 0)) padding-box,
        linear-gradient(90deg, #EA02FF, #00D9FF) border-box;
    padding: 15px 40px;
}

.division {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-right: 630px;
    margin-top: 30px;
}

.line1 {
    width: 122px;
    height: 1px;
    background: #6e6d6d8c;
}

#letter {
    margin: 0;
    font-size: 14px;
    color: #6e6d6d57;
    font-weight: 300;
}

#socialAuth {
    display: flex;
    justify-content: space-around;
    margin-right: 630px;
    margin-top: 30px;
    width: 200px;
}

.social {
    width: 40px;
}

#terms {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin-right: 640px;
    margin-top: 30px;
    width: 210px;
}

#termsUse {
    color: #00BBFF;
}

span {
    margin-right: 5px;
    color: white;
}

a {
    text-decoration-line: none;
    color: #00BBFF;
}

#line2 {
    background: linear-gradient(90deg, #EA02FF, #00D9FF);
    top: 112vh;
    width: 130vw;
    height: 5px;
    position: absolute;
    left: 5vw;
    transform: rotate(-25deg);
    transform-origin: left center;
    z-index: 2;
}

#line3 {
    background: linear-gradient(90deg, #00D9FF, #EA02FF);
    top: 112vh;
    width: 130vw;
    height: 5px;
    position: absolute;
    left:5.5vw;
    transform: rotate(-25deg);
    transform-origin: left center;
    z-index: 2;
}

#WhiteBackg {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 68vh;
    align-items: end;
    width: 92%;
}

#tittle2 {
    font-family: "Anton SC", sans-serif;
    font-size: 48px;
    background: linear-gradient(90deg, rgb(48, 48, 48) 0%, #AFA9A9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#spaceButton2{
    display: flex;
    margin-top: 6vh;
    width: 18%;
}

@media(max-width: 1366px) {
    #imgWheel {
        right: 110px;
        width: 400px;
    }

    #BlackBackg {
        width: 75%;
    }

    #tittle {
        font-size: 28px;
        margin-top: 50px;
    }

    #spaceLine {
        margin-bottom: 40px;
    }

    #line {
        margin-left: 120px;
        height: 7px;
        width: 150px;
    }

    #infoBox {
        margin-top: 0;
        width: 60vw;
    }

    #regisInfo {
        height: 18vw;
    }

    p {
        font-size: 13px;
        margin-top: 1vw;
    }

    #recordFields {
        height: 250px;
    }

    input {
        height: 30px;
    }

    #spaceButton {
        margin-top: 50px;
        width: 50%;
    }

    .buttonRegist {
        font-size: 13px;
        padding: 10px 30px;
    }

    .division {
        margin-right: 360px;
        margin-top: 12px;
    }

    .line1 {
        width: 70px;
    }

    #letter {
        font-size: 13px;
    }

    #socialAuth {
        margin-right: 360px;
        margin-top: 6px;
    }

    .social {
        width: 30px;
    }

    #terms {
        margin-right: 360px;
        margin-top: 5px;
        width: 155px;
    }

    #termsUse {
        margin-top: 0;
    }

    span {
        font-size: 11px;
        margin-right: 4px;
    }

    a {
        font-size: 11px;
    }

    #line2 {
        background-color: #00D9FF;
        top: 88vh;
        width: 100vw;
        height: 5px;
        position: absolute;
        left: 3vw;
        transform: rotate(-25deg);
        transform-origin: left center;
        z-index: 2;
    }

    #line3 {}
}