.content-target-streak {
    display: flex;
}

.content-box .target-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.target-box {
    justify-content: space-around;
    border-radius: 20px;
    outline: 2px solid transparent;
    background:
    linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(10deg, rgba(248, 86, 207, 1), rgb(32, 1, 32)) border-box;
    border: 3px solid transparent;
    width: 550px;
    height: 500px;
}

.box-up {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

#img-trophy {
    width: 100px;
}

.title-target {
    font-size: 36px;
}

#img-gitHub {
    width: 300px;
}

#img-Cybro {
    width: 300px;
}

#img-line{
    width: 200px;
}

.box-title{
    justify-content: end;
}

.box-title{
    display: flex;
    flex-direction: column;
    margin: 0 20% 0 0;
}