* {
    font-family: 'Poppins', sans-serif;
}

.component {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

section {
    margin: 70px;
}

.title {
    display: flex;
    justify-content: center;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50vw;
    height: 100%;
}

#titleNor {
    margin: 70px 0 0 0;
}

@media (max-width: 1366px) {

    #titleNor {
        margin: 0 0 0 0;
    }
}

@media (max-width: 920px) {
   
    .information{
        width: 69vw;
    }
}

@media (max-width: 590px) {
   
    .text{
        font-size: 14px;
    }

    .title{
        font-size: 29px;
    }

    .subtitle{
        font-size: 17px;
    }
}

@media (max-width: 480px) {
   
    .title{
        font-size: 27px;
    }
}