/*ESTILO GLOBAL*/
/*Aplica la fuente "poppins" a todos los elementos del documentos*/
* {
    font-family: 'Poppins', sans-serif;
}

/*CONTENEDOR PRINCIPAL DEL COMPONENTE*/
.component {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

/*SECCIÓN INTERNA*/
section {
    margin: 70px;
}

/*TÍTULOS PRINCIPALES*/
.title {
    display: flex;
    justify-content: center;
}

/*INFORMACIÓN DEL COMPONENTE*/
.information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    width: 770px;
    height: 100%;
}

/*TÍTULO DE NORMAS*/
#titleNor {
    margin: 70px 0 0 0;
}

/*INICIO DE MEDIA QUERIES*/
@media (max-width: 1366px) {

    #titleNor {
        margin: 0 0 0 0;
    }
}

@media (max-width: 920px) {
   
    .information{
        width: 69vw;
    }
}

@media (max-width: 590px) {
   
    .text{
        font-size: 14px;
    }

    .title{
        font-size: 29px;
    }

    .subtitle{
        font-size: 17px;
    }
}

@media (max-width: 480px) {
 
    .title{
        font-size: 27px;
    }
}